Repository sinhong2011/minikyu: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, type-check

biome-check:
  run: bun run biome check --write {staged_files}
  stage_fixed: true

type-check:
  run: bunx tsc --noEmit

fix(sidebar): Keep CJK compact unread counts on one line
  e2e/web/sidebar-badge.spec.ts
  src/components/layout/AppSidebar.tsx
  src/components/ui/badge-count.tsx
Due: biome-check, type-check

fix(pwa): Follow the app background in the window title bar
  e2e/web/theme-color.spec.ts
  public/manifest.webmanifest
  src/components/ThemeProvider.tsx
  src/components/layout/MainWindow.tsx
  src/lib/theme-color.ts
  vite.config.ts
Due: biome-check, type-check

fix(ui): Stop CJK unread counts wrapping and colour the PWA title bar (#117)
  e2e/web/sidebar-badge.spec.ts
  e2e/web/theme-color.spec.ts
  public/manifest.webmanifest
  src/components/ThemeProvider.tsx
  src/components/layout/AppSidebar.tsx
  src/components/layout/MainWindow.tsx
  src/components/ui/badge-count.tsx
  src/lib/theme-color.ts
  vite.config.ts
Due: biome-check, type-check

chore: release main
  .release-please-manifest.json
  CHANGELOG.md
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: biome-check

chore: release main (#118)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: biome-check

fix(build): Align tauri-plugin-fs with its npm package version
  src-tauri/Cargo.toml
Due: none

fix(build): Align tauri-plugin-fs with its npm package version (#119)
  src-tauri/Cargo.toml
Due: none

chore: release main (#120)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: biome-check

fix(web): Surface the proxy's own error body on a failed request (#116)
  src/lib/web/client.test.ts
  src/lib/web/client.ts
Due: biome-check, type-check

fix(pwa): Correct iOS home-screen icon, safe areas and reader close
  docs/developer/pwa.md
  index.html
  public/Icon-maskable.svg
  public/Icon512-maskable.png
  public/apple-touch-icon.png
  public/manifest.webmanifest
  src/components/layout/MainWindowContent.tsx
Due: biome-check, type-check

fix(pwa): Correct iOS home-screen icon, safe areas and reader close (#122)
  docs/developer/pwa.md
  index.html
  public/Icon-maskable.svg
  public/Icon512-maskable.png
  public/apple-touch-icon.png
  public/manifest.webmanifest
  src/components/layout/MainWindowContent.tsx
Due: biome-check, type-check

chore: release main (#121)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: biome-check

feat(web): Let the PWA connect to a server the deployment does not proxy
  docs/developer/pwa.md
  src/components/miniflux/ConnectionDialog.tsx
  src/lib/platform.ts
  src/lib/web/client.test.ts
  src/lib/web/client.ts
  src/lib/web/commands.test.ts
  src/lib/web/commands.ts
  src/vite-env.d.ts
Due: biome-check, type-check

chore(i18n): Refresh catalogs for the gated and web-connect strings
  src/locales/en/messages.po
  src/locales/en/messages.ts
  src/locales/ja/messages.po
  src/locales/ja/messages.ts
  src/locales/ko/messages.po
  src/locales/ko/messages.ts
  src/locales/zh-CN/messages.po
  src/locales/zh-CN/messages.ts
  src/locales/zh-TW/messages.po
  src/locales/zh-TW/messages.ts
Due: biome-check, type-check

fix(pwa): Keep the phone chrome clear of iOS Safari's bars
  docs/developer/pwa.md
  src/components/ErrorBoundary.tsx
  src/components/layout/MainWindow.tsx
  src/components/layout/MainWindowContent.tsx
  src/components/miniflux/MinifluxLayout.tsx
  src/components/ui/sidebar.tsx
  src/lib/history-intent.test.ts
  src/lib/history-intent.ts
  src/styles/global.css
Due: biome-check, type-check

fix(web): Gate desktop-only shortcuts and article actions
  docs/developer/pwa.md
  src/components/command-palette/CommandPalette.tsx
  src/components/miniflux/ArticleSummary.tsx
  src/components/miniflux/EntryReading.tsx
  src/components/miniflux/EntryReadingHeader.tsx
  src/components/miniflux/ImmersiveTranslationLayer.tsx
  src/components/miniflux/SafeHtml.tsx
  src/components/preferences/panes/ShortcutsPane.tsx
  src/hooks/use-keyboard-shortcuts.ts
  src/lib/commands/article-commands.ts
  src/lib/commands/translation-commands.ts
  src/lib/commands/view-commands.ts
  src/lib/shortcut-registry.ts
  src/lib/shortcut-registry.web.test.ts
  src/lib/web/gate-coverage.test.ts
Due: biome-check, type-check

chore: release main (#124)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: biome-check

fix(pwa): Keep iOS Safari chrome and swipe-back from fighting the reader
  docs/developer/pwa.md
  docs/developer/ui-patterns.md
  src/components/layout/MainWindow.tsx
  src/components/layout/MainWindowContent.test.tsx
  src/components/layout/MainWindowContent.tsx
  src/components/layout/MobileTabBar.tsx
  src/components/miniflux/EntryList.tsx
  src/components/miniflux/EntryReading.tsx
  src/components/miniflux/EntryReadingHeader.test.tsx
  src/components/miniflux/EntryReadingHeader.tsx
  src/components/miniflux/MinifluxLayout.test.tsx
  src/components/miniflux/MinifluxLayout.tsx
  src/components/miniflux/ReaderSettings.tsx
  src/components/sync/SyncProgressPopover.tsx
  src/components/ui/button.tsx
  src/components/ui/scroll-area.tsx
  src/components/ui/sidebar.tsx
  src/components/zen-mode/ZenModeView.tsx
  src/hooks/use-platform.ts
  src/hooks/use-safari-viewport.test.ts
  src/hooks/use-safari-viewport.ts
  src/lib/history-intent.test.ts
  src/main.tsx
  src/styles/global.css
Due: biome-check, type-check

fix(pwa): Keep iOS Safari chrome and swipe-back from fighting the reader (#125)
  docs/developer/pwa.md
  docs/developer/ui-patterns.md
  src/components/layout/MainWindow.tsx
  src/components/layout/MainWindowContent.test.tsx
  src/components/layout/MainWindowContent.tsx
  src/components/layout/MobileTabBar.tsx
  src/components/miniflux/EntryList.tsx
  src/components/miniflux/EntryReading.tsx
  src/components/miniflux/EntryReadingHeader.test.tsx
  src/components/miniflux/EntryReadingHeader.tsx
  src/components/miniflux/MinifluxLayout.test.tsx
  src/components/miniflux/MinifluxLayout.tsx
  src/components/miniflux/ReaderSettings.tsx
  src/components/sync/SyncProgressPopover.tsx
  src/components/ui/button.tsx
  src/components/ui/scroll-area.tsx
  src/components/ui/sidebar.tsx
  src/components/zen-mode/ZenModeView.tsx
  src/hooks/use-platform.ts
  src/hooks/use-safari-viewport.test.ts
  src/hooks/use-safari-viewport.ts
  src/lib/history-intent.test.ts
  src/main.tsx
  src/styles/global.css
Due: biome-check, type-check

chore: release main (#126)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: biome-check

fix(pwa): Open the phone reader in a drawer
  docs/developer/pwa.md
  index.html
  src/components/layout/AppSidebar.tsx
  src/components/layout/MainWindow.tsx
  src/components/layout/MainWindowContent.test.tsx
  src/components/layout/MainWindowContent.tsx
  src/components/layout/MobileTabBar.tsx
  src/components/miniflux/EntryList.tsx
  src/components/miniflux/EntryReading.tsx
  src/components/miniflux/EntryReadingHeader.test.tsx
  src/components/miniflux/EntryReadingHeader.tsx
  src/components/miniflux/MinifluxLayout.test.tsx
  src/components/miniflux/MinifluxLayout.tsx
  src/components/miniflux/reader-action-bar-slot.tsx
  src/components/ui/drawer.tsx
  src/components/ui/sidebar.tsx
  src/hooks/use-mobile.test.ts
  src/hooks/use-mobile.ts
  src/hooks/use-safari-viewport.test.ts
  src/hooks/use-safari-viewport.ts
  src/hooks/use-selected-entry.test.ts
  src/hooks/use-selected-entry.ts
  src/lib/history-intent.test.ts
  src/lib/history-intent.ts
  src/locales/en/messages.po
  src/locales/en/messages.ts
  src/locales/ja/messages.po
  src/locales/ja/messages.ts
  src/locales/ko/messages.po
  src/locales/ko/messages.ts
  src/locales/zh-CN/messages.po
  src/locales/zh-CN/messages.ts
  src/locales/zh-TW/messages.po
  src/locales/zh-TW/messages.ts
  src/styles/global.css
Due: biome-check, type-check

fix(pwa): Open the phone reader in a drawer (#127)
  docs/developer/pwa.md
  index.html
  src/components/layout/AppSidebar.tsx
  src/components/layout/MainWindow.tsx
  src/components/layout/MainWindowContent.test.tsx
  src/components/layout/MainWindowContent.tsx
  src/components/layout/MobileTabBar.tsx
  src/components/miniflux/EntryList.tsx
  src/components/miniflux/EntryReading.tsx
  src/components/miniflux/EntryReadingHeader.test.tsx
  src/components/miniflux/EntryReadingHeader.tsx
  src/components/miniflux/MinifluxLayout.test.tsx
  src/components/miniflux/MinifluxLayout.tsx
  src/components/miniflux/reader-action-bar-slot.tsx
  src/components/ui/drawer.tsx
  src/components/ui/sidebar.tsx
  src/hooks/use-mobile.test.ts
  src/hooks/use-mobile.ts
  src/hooks/use-safari-viewport.test.ts
  src/hooks/use-safari-viewport.ts
  src/hooks/use-selected-entry.test.ts
  src/hooks/use-selected-entry.ts
  src/lib/history-intent.test.ts
  src/lib/history-intent.ts
  src/locales/en/messages.po
  src/locales/en/messages.ts
  src/locales/ja/messages.po
  src/locales/ja/messages.ts
  src/locales/ko/messages.po
  src/locales/ko/messages.ts
  src/locales/zh-CN/messages.po
  src/locales/zh-CN/messages.ts
  src/locales/zh-TW/messages.po
  src/locales/zh-TW/messages.ts
  src/styles/global.css
Due: biome-check, type-check

chore: release main (#128)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: biome-check

Path conditions:
  biome-check: any of: *.{js,jsx,ts,tsx,json,css,md}
  type-check: any of: *.{ts,tsx}
