Repository sinhong2011/minikyu: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, type-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome-check:
      glob: '*.{js,jsx,ts,tsx,json,css,md}'
      run: bun run biome check --write {staged_files}
      stage_fixed: true

    type-check:
      glob: '*.{ts,tsx}'
      run: bunx tsc --noEmit

pre-push:
  parallel: true
  commands:
    test:
      run: bun run test:run

    tauri-check:
      run: bun run tauri:check

commit-msg:
  commands:
    lint:
      run: bunx commitlint --edit {1}

chore: release main (#76)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
  src-tauri/tauri.conf.json
Due: biome-check

feat(preferences): Add ui_font_family preference field
  src-tauri/src/types.rs
Due: none

feat(fonts): Add list_system_fonts Tauri command with font-kit
  src-tauri/Cargo.toml
  src-tauri/src/bindings.rs
  src-tauri/src/commands/preferences.rs
  src/lib/bindings.ts
Due: biome-check, type-check

fix(css): Enhance font-sans fallback chain with system fonts
  src/styles/theme.css
Due: biome-check

feat(fonts): Add useUiFont hook to apply custom UI font
  src/components/layout/MainWindow.tsx
  src/hooks/use-ui-font.ts
Due: biome-check, type-check

feat(appearance): Add font selector UI with i18n support
  src/components/preferences/panes/AppearancePane.tsx
  src/locales/en/messages.po
  src/locales/en/messages.ts
  src/locales/ja/messages.po
  src/locales/ja/messages.ts
  src/locales/ko/messages.po
  src/locales/ko/messages.ts
  src/locales/zh-CN/messages.po
  src/locales/zh-CN/messages.ts
  src/locales/zh-TW/messages.po
  src/locales/zh-TW/messages.ts
  src/test/setup.ts
Due: biome-check, type-check

fix(fonts): Override font-family directly instead of CSS variable
  src/hooks/use-ui-font.ts
Due: biome-check, type-check

fix(fonts): Apply font override to both html and body elements
  src/hooks/use-ui-font.ts
Due: biome-check, type-check

fix(fonts): Apply font override globally via CSS variable and data attribute
  src/hooks/use-ui-font.ts
  src/lib/apply-ui-font.ts
  src/player-window-main.tsx
  src/styles/global.css
  src/tray-popover-main.tsx
Due: biome-check, type-check

fix(fonts): Move font override outside @layer base to beat Tailwind utilities
  src/styles/global.css
Due: biome-check

feat: UI font customization, reader font system fonts, and UI zoom controls
  bun.lock
  package.json
  src-tauri/src/types.rs
  src/components/miniflux/EntryReading.tsx
  src/components/miniflux/ReaderSettings.tsx
  src/components/preferences/panes/AdvancedPane.tsx
  src/components/preferences/panes/AppearancePane.tsx
  src/hooks/use-ui-font.ts
  src/lib/apply-ui-font.ts
  src/lib/bindings.ts
  src/lib/commands/article-commands.ts
  src/lib/commands/view-commands.ts
  src/lib/menu.ts
  src/lib/reader-fonts.test.ts
  src/lib/reader-fonts.ts
  src/locales/en/messages.po
  src/locales/en/messages.ts
  src/locales/ja/messages.po
  src/locales/ja/messages.ts
  src/locales/ko/messages.po
  src/locales/ko/messages.ts
  src/locales/zh-CN/messages.po
  src/locales/zh-CN/messages.ts
  src/locales/zh-TW/messages.po
  src/locales/zh-TW/messages.ts
  src/styles/global.css
  src/styles/theme.css
  src/test/setup.ts
Due: biome-check, type-check

fix(lint): Add biome-ignore for intentional !important in font override CSS
  src/styles/global.css
Due: biome-check

feat: Custom UI font selection (#77)
  bun.lock
  package.json
  src-tauri/Cargo.toml
  src-tauri/src/bindings.rs
  src-tauri/src/commands/preferences.rs
  src-tauri/src/types.rs
  src/components/layout/MainWindow.tsx
  src/components/miniflux/EntryReading.tsx
  src/components/miniflux/ReaderSettings.tsx
  src/components/preferences/panes/AdvancedPane.tsx
  src/components/preferences/panes/AppearancePane.tsx
  src/hooks/use-ui-font.ts
  src/lib/apply-ui-font.ts
  src/lib/bindings.ts
  src/lib/commands/article-commands.ts
  src/lib/commands/view-commands.ts
  src/lib/menu.ts
  src/lib/reader-fonts.test.ts
  src/lib/reader-fonts.ts
  src/locales/en/messages.po
  src/locales/en/messages.ts
  src/locales/ja/messages.po
  src/locales/ja/messages.ts
  src/locales/ko/messages.po
  src/locales/ko/messages.ts
  src/locales/zh-CN/messages.po
  src/locales/zh-CN/messages.ts
  src/locales/zh-TW/messages.po
  src/locales/zh-TW/messages.ts
  src/player-window-main.tsx
  src/styles/global.css
  src/styles/theme.css
  src/test/setup.ts
  src/tray-popover-main.tsx
Due: biome-check, type-check

chore: release main
  .release-please-manifest.json
  CHANGELOG.md
  package.json
  src-tauri/tauri.conf.json
Due: biome-check

chore: release main (#78)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
  src-tauri/tauri.conf.json
Due: biome-check

fix: Prevent crash on macOS font enumeration during system font changes
  src-tauri/Cargo.toml
  src-tauri/src/commands/preferences.rs
Due: none

fix: Prevent crash on macOS font enumeration during system font changes (#79)
  src-tauri/Cargo.toml
  src-tauri/src/commands/preferences.rs
Due: none

chore: release main (#80)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
  src-tauri/tauri.conf.json
Due: biome-check

docs: Add social post generation with Postiz integration design spec
  docs/superpowers/specs/2026-03-13-social-post-generation-design.md
Due: biome-check

docs: Add social post generation implementation plan
  docs/superpowers/plans/2026-03-13-social-post-generation.md
Due: biome-check

build: Migrate to Vite 8 with Rolldown bundler
  bun.lock
  package.json
  vite.config.ts
  vitest.config.ts
Due: biome-check, type-check

build: Migrate to Vite 8 with Rolldown bundler (#81)
  bun.lock
  docs/superpowers/plans/2026-03-13-social-post-generation.md
  docs/superpowers/specs/2026-03-13-social-post-generation-design.md
  package.json
  vite.config.ts
  vitest.config.ts
Due: biome-check, type-check

refactor: Lazy-load heavy dialog components for smaller initial bundle
  src/components/layout/MainWindow.tsx
  src/components/miniflux/MinifluxLayout.tsx
Due: biome-check, type-check

fix: Suppress startup notifications when Miniflux server is not connected
  src/components/miniflux/index.ts
  src/services/miniflux/categories.ts
  src/services/miniflux/counters.ts
  src/services/miniflux/feeds.ts
Due: biome-check, type-check

fix: Suppress startup notifications when Miniflux server is not connected (#83)
  src/components/miniflux/index.ts
  src/services/miniflux/categories.ts
  src/services/miniflux/counters.ts
  src/services/miniflux/feeds.ts
Due: biome-check, type-check

refactor: Lazy-load heavy dialog components for smaller initial bundle (#82)
  src/components/layout/MainWindow.tsx
  src/components/miniflux/MinifluxLayout.tsx
Due: biome-check, type-check

chore: release main (#84)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
  src-tauri/tauri.conf.json
Due: biome-check

docs: Add entry list insert animation optimization spec
  docs/superpowers/specs/2026-03-17-entry-list-insert-animation-design.md
Due: biome-check

refactor: Unify pane transition animations with reader view motion system
  src/components/layout/MainWindowContent.tsx
  src/hooks/use-in-app-browser.ts
Due: biome-check, type-check

feat: Spring-based entry list insert animation with height expansion
  src/components/miniflux/EntryList.tsx
  src/components/miniflux/NewEntryAnimationWrapper.tsx
Due: biome-check, type-check

feat: Staggered spring animation on entry list route changes
  src/components/miniflux/EntryList.tsx
  src/components/miniflux/NewEntryAnimationWrapper.tsx
Due: biome-check, type-check

feat: Animate entry removal with spring height collapse
  src/components/miniflux/EntryList.tsx
Due: biome-check, type-check

test: Update in-app browser test to match sidebar-no-hide behavior
  src/hooks/use-in-app-browser.test.ts
Due: biome-check, type-check

feat: Entry list animation system overhaul (#85)
  docs/superpowers/specs/2026-03-17-entry-list-insert-animation-design.md
  src/components/layout/MainWindowContent.tsx
  src/components/miniflux/EntryList.tsx
  src/components/miniflux/NewEntryAnimationWrapper.tsx
  src/hooks/use-in-app-browser.test.ts
  src/hooks/use-in-app-browser.ts
Due: biome-check, type-check

test: Fix flaky ImmersiveTranslationLayer translated_only test
  src/components/miniflux/ImmersiveTranslationLayer.test.tsx
Due: biome-check, type-check

test: Fix flaky ImmersiveTranslationLayer translated_only test (#87)
  src/components/miniflux/ImmersiveTranslationLayer.test.tsx
Due: biome-check, type-check
