Repository sinhong2011/minikyu: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, type-check

biome-check:
  run: bun run biome check --write {staged_files}
  stage_fixed: true

type-check:
  run: bunx tsc --noEmit

chore: release main (#102)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
  src-tauri/tauri.conf.json
Due: biome-check

fix(tauri): Lazy-create secondary windows on Windows to eliminate idle CPU overhead
  src-tauri/src/commands/player_window.rs
Due: none

fix(tauri): Lazy-create secondary windows on Windows to eliminate idle CPU overhead (#103)
  src-tauri/src/commands/player_window.rs
Due: none

chore: release main
  .release-please-manifest.json
  CHANGELOG.md
  package.json
  src-tauri/tauri.conf.json
Due: biome-check

chore: release main (#104)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
  src-tauri/tauri.conf.json
Due: biome-check

fix: Remove hover background color from reader node blocks
  src/components/miniflux/SafeHtml.tsx
Due: biome-check, type-check

fix: Remove hover background color from reader node blocks (#105)
  src/components/miniflux/SafeHtml.tsx
Due: biome-check, type-check

chore: release main (#106)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
  src-tauri/tauri.conf.json
Due: biome-check

fix: Prevent auto-sync interval churn with useEffectEvent
  src/hooks/use-auto-sync.test.ts
  src/hooks/use-auto-sync.ts
Due: biome-check, type-check

fix(release): Align Cargo.toml version and annotate for release-please
  src-tauri/Cargo.toml
Due: none

build: Migrate to Vite+ toolchain with oxlint, oxfmt and bun 1.4
  .github/workflows/ci.yml
  .github/workflows/opencode.yml
  .github/workflows/release-please.yml
  .github/workflows/release.yml
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  biome.json
  bun.lock
  docs/developer/biome-usage.md
  docs/developer/git-hooks.md
  docs/developer/linting-formatting.md
  e2e/tsconfig.json
  knip.json
  lefthook.yml
  mise.toml
  package.json
  scripts/mock-update-server.ts
  scripts/tsconfig.json
  tsconfig.json
  tsconfig.node.json
  tsconfig.tools.json
  vite.config.ts
  vitest.config.ts
Due: biome-check, type-check

feat: Add one-click deploy for Netlify, Vercel, Cloudflare Pages and Docker
  .dockerignore
  .github/workflows/docker-web.yml
  Dockerfile
  api/miniflux-api/[...path].ts
  cloudflare/_headers
  cloudflare/_redirects
  deploy/miniflux-proxy.ts
  docker-compose.yml
  docker/10-resolve-miniflux-url.envsh
  docker/default.conf.template
  functions/miniflux-api/[[path]].ts
  netlify.toml
  scripts/write-deploy-redirects.ts
  vercel.json
Due: biome-check, type-check

docs: Document the web target, deployment and Docker image
  AGENTS.md
  README.ja.md
  README.ko.md
  README.md
  README.zh-CN.md
  README.zh-TW.md
  docs/developer/README.md
  docs/developer/git-flow.md
  docs/developer/project-gaps.md
Due: biome-check

fix(docker): Resolve the Miniflux upstream at request time
  docker/10-resolve-miniflux-url.envsh
  docker/default.conf.template
  src/components/layout/AppSidebar.test.tsx
Due: biome-check, type-check

revert: Undo the feed/category dialog code-split
  src/components/layout/AppSidebar.test.tsx
  src/components/miniflux/settings/FeedCategoryDialogProvider.tsx
Due: biome-check, type-check

chore: release main
  .release-please-manifest.json
  CHANGELOG.md
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: biome-check

chore: release main (#109)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: biome-check

fix(web): Reject credentials that cannot be sent as HTTP headers
  src/lib/web/client.test.ts
  src/lib/web/client.ts
  src/lib/web/commands.ts
Due: biome-check, type-check

fix(deploy): Proxy every Miniflux path on Vercel
  api/miniflux-api.ts
  api/miniflux-api/[...path].ts
  deploy/miniflux-proxy.test.ts
  deploy/miniflux-proxy.ts
  docs/developer/pwa.md
  scripts/write-deploy-redirects.ts
  vercel.json
  vite.config.ts
Due: biome-check, type-check

docs: Add a Deploy to Cloudflare button
  README.md
  docs/developer/pwa.md
  wrangler.jsonc
Due: biome-check

fix(deploy): Deploy Cloudflare as a Worker, not Pages
  .gitignore
  README.ja.md
  README.ko.md
  README.md
  README.zh-CN.md
  README.zh-TW.md
  cloudflare/_headers
  cloudflare/_redirects
  cloudflare/worker.ts
  deploy/miniflux-proxy.ts
  docs/developer/pwa.md
  functions/miniflux-api/[[path]].ts
  package.json
  tsconfig.tools.json
  wrangler.jsonc
Due: biome-check, type-check

fix(deploy): Deploy Cloudflare as a Worker, not Pages (#114)
  .gitignore
  README.ja.md
  README.ko.md
  README.md
  README.zh-CN.md
  README.zh-TW.md
  cloudflare/_headers
  cloudflare/_redirects
  cloudflare/worker.ts
  deploy/miniflux-proxy.ts
  docs/developer/pwa.md
  functions/miniflux-api/[[path]].ts
  package.json
  tsconfig.tools.json
  wrangler.jsonc
Due: biome-check, type-check

chore: release main (#115)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: biome-check

fix(web): Surface the proxy's own error body on a failed request
  src/lib/web/client.test.ts
  src/lib/web/client.ts
Due: biome-check, type-check

Path conditions:
  biome-check: any of: *.{js,jsx,ts,tsx,json,css,md}
  type-check: any of: *.{ts,tsx}
