Repository sinhong2011/minikyu: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, type-check

biome-check:
  run: bun run biome check --write {staged_files}
  stage_fixed: true

type-check:
  run: bunx tsc --noEmit

feat: Add Miniflux client foundation
  src-tauri/Cargo.toml
  src-tauri/src/bindings.rs
  src-tauri/src/commands/miniflux.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/database/connection.rs
  src-tauri/src/database/mod.rs
  src-tauri/src/database/schema.sql
  src-tauri/src/lib.rs
  src-tauri/src/miniflux/client.rs
  src-tauri/src/miniflux/mod.rs
  src-tauri/src/miniflux/types.rs
Due: none

feat(accounts): Implement delete account command
  src-tauri/src/bindings.rs
  src-tauri/src/commands/accounts.rs
  src-tauri/src/commands/accounts.test.rs
Due: none

feat(accounts): implement auto_reconnect_miniflux command
  .sisyphus/notepads/miniflux-accounts-wave-2/learnings.md
  src-tauri/src/bindings.rs
  src-tauri/src/commands/accounts.rs
  src-tauri/src/commands/accounts.test.rs
  src/lib/bindings.ts
Due: biome-check, type-check

feat: add feed_id to route search schema
  src/components/ui/collapsible.tsx
  src/routes/index.tsx
Due: biome-check, type-check

docs: Update repository guidance
  .biomeignore
  .gitignore
  AGENTS.md
  README.md
  biome.json
  docs/CONTRIBUTING.md
Due: biome-check

docs: Update task workflow and remove template guide
  biome.json
  docs/USING_THIS_TEMPLATE.md
  docs/developer/architecture-guide.md
  docs/developer/bun-usage.md
  docs/developer/bundle-optimization.md
  docs/developer/command-system.md
  docs/developer/cross-platform.md
  docs/developer/data-persistence.md
  docs/developer/git-hooks.md
  docs/developer/i18n-lingui-best-practices.md
  docs/developer/i18n-patterns.md
  docs/developer/i18n-strategy.md
  docs/developer/menus.md
  docs/developer/project-gaps.md
  docs/developer/releases.md
  docs/developer/rust-architecture.md
  docs/developer/static-analysis.md
  docs/developer/tauri-commands.md
  docs/developer/tauri-plugins.md
  docs/developer/testing.md
  docs/developer/tray-icon.md
  docs/developer/ui-patterns.md
  docs/tasks.md
Due: biome-check

chore: Update package metadata
  components.json
  package.json
Due: biome-check

test: Fix type errors in test files
  src/components/layout/AppSidebar.test.tsx
  src/components/miniflux/EntryList.tsx
  src/services/preferences.test.ts
  src/services/tray.ts
Due: biome-check, type-check

chore: Update toolchain configs
  biome.json
  tsconfig.json
  vite.config.ts
  vitest.config.ts
Due: biome-check, type-check

feat: Implement multi-account management with keyring and database migrations
  src-tauri/gen_bindings.rs
  src-tauri/src/accounts/error.rs
  src-tauri/src/accounts/keyring.rs
  src-tauri/src/accounts/mod.rs
  src-tauri/src/accounts/tests.rs
  src-tauri/src/commands/accounts.rs
  src-tauri/src/commands/accounts.test.rs
  src-tauri/src/database/migrations.test.rs
  src-tauri/src/utils/logger.rs
  src-tauri/src/utils/mod.rs
  src-tauri/src/utils/serde_helpers.rs
Due: none

chore: Update configuration and clean up tray command
  .gitignore
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/tray.rs
Due: none

feat: Expand UI store with entry selection and downloads state
  src/store/ui-store.ts
Due: biome-check, type-check

feat: Add Tauri command wrappers with i64 type conversion
  src/lib/bindings.ts
  src/lib/commands/types.ts
  src/lib/query-client.ts
  src/lib/tauri-bindings.ts
  src/test/setup.ts
Due: biome-check, type-check

refactor: Update main app entry points and providers
  src/App.tsx
  src/AppProviders.tsx
  src/main.tsx
Due: biome-check, type-check

feat: Add resizable layout panels for entry reading
  src/components/layout/MainWindow.tsx
  src/components/layout/MainWindowContent.tsx
  src/components/layout/index.ts
Due: biome-check, type-check

feat: Add default preferences and enhance toast notifications
  src/components/ui/sonner.tsx
  src/services/preferences.ts
Due: biome-check, type-check

refactor: Update preference panes with toast integration
  src/components/preferences/PreferencesDialog.tsx
  src/components/preferences/ShortcutPicker.tsx
  src/components/preferences/panes/AdvancedPane.tsx
  src/components/preferences/panes/AppearancePane.tsx
  src/components/preferences/panes/GeneralPane.tsx
Due: biome-check, type-check

refactor: Migrate popover/tooltip to base-ui
  src/components/ErrorBoundary.tsx
  src/components/command-palette/CommandPalette.tsx
  src/components/titlebar/CommandSearchButton.tsx
  src/components/titlebar/LinuxTitleBar.tsx
  src/components/titlebar/MacOSWindowControls.tsx
  src/components/titlebar/WindowTitleBar.tsx
  src/components/ui/alert-dialog.tsx
  src/components/ui/button.tsx
  src/components/ui/checkbox.tsx
  src/components/ui/command.tsx
  src/components/ui/dialog.tsx
  src/components/ui/native-select.tsx
  src/components/ui/popover.tsx
  src/components/ui/radio-group.tsx
  src/components/ui/select.tsx
  src/components/ui/tooltip.tsx
Due: biome-check, type-check

refactor: Add UI components (avatar, badge, breadcrumb, calendar, card, date-picker, field, kbd, label, resizable, scroll-area, separator, sheet, skeleton, spinner, tag-input)
  src/components/ui/avatar.tsx
  src/components/ui/badge.tsx
  src/components/ui/breadcrumb.tsx
  src/components/ui/calendar.tsx
  src/components/ui/card.tsx
  src/components/ui/date-picker.tsx
  src/components/ui/field.tsx
  src/components/ui/kbd.tsx
  src/components/ui/label.tsx
  src/components/ui/resizable.tsx
  src/components/ui/scroll-area.tsx
  src/components/ui/separator.tsx
  src/components/ui/sheet.tsx
  src/components/ui/skeleton.tsx
  src/components/ui/spinner.tsx
  src/components/ui/tag-input.tsx
Due: biome-check, type-check

refactor: Add remaining UI components (autocomplete, combobox, context-menu, dropdown-menu, glass-card, password-input, progress, sidebar, slider)
  src/components/ui/autocomplete.tsx
  src/components/ui/combobox.tsx
  src/components/ui/context-menu.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/glass-card.tsx
  src/components/ui/password-input.tsx
  src/components/ui/progress.tsx
  src/components/ui/sidebar.tsx
  src/components/ui/slider.tsx
Due: biome-check, type-check

refactor: Add core application files (HomePage, routes, quick-pane-main)
  src/pages/HomePage.tsx
  src/quick-pane-main.tsx
  src/routes/index.tsx
Due: biome-check, type-check

refactor: Add Miniflux feature components
  src/components/miniflux/ConnectionDialog.tsx
  src/components/miniflux/EntryFilters.tsx
  src/components/miniflux/EntryReading.tsx
  src/components/miniflux/EntryReadingHeader.tsx
  src/components/miniflux/FeedAvatar.tsx
  src/components/miniflux/ImageViewer.tsx
  src/components/miniflux/MinifluxLayout.tsx
  src/components/miniflux/ReaderSettings.tsx
  src/components/miniflux/SafeHtml.tsx
  src/components/miniflux/UserNav.test.tsx
  src/components/miniflux/UserNav.tsx
  src/components/miniflux/index.ts
Due: biome-check, type-check

refactor: Add application infrastructure (downloads, layout, hooks, lib, services, stores)
  src/components/downloads/DownloadManagerDialog.tsx
  src/components/layout/AppSidebar.tsx
  src/hooks/use-account-initialization.ts
  src/hooks/use-auto-height.tsx
  src/hooks/use-clipboard.ts
  src/hooks/use-connection-status.ts
  src/hooks/use-reader-settings.ts
  src/lib/media-utils.test.ts
  src/lib/media-utils.ts
  src/lib/miniflux-utils.ts
  src/services/miniflux/auth.ts
  src/services/miniflux/categories.ts
  src/services/miniflux/entries.ts
  src/services/miniflux/feeds.ts
  src/services/miniflux/index.ts
  src/services/miniflux/users.ts
  src/services/reading-state.ts
  src/store/account-store.test.ts
  src/store/account-store.ts
  src/store/logger-middleware.ts
  src/store/reader-store.ts
Due: biome-check, type-check

docs: add local-first sync plan and config tweaks
  .gitignore
  docs/developer/data-persistence.md
  docs/plans/2026-02-05-local-first-miniflux-sync.md
  mise.toml
Due: biome-check

feat: add sync command with local-first Miniflux synchronization
  src-tauri/src/bindings.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/sync.rs
  src-tauri/src/commands/sync.test.rs
  src-tauri/src/database/migrations/drop_users_table.rs
Due: none

feat: expand miniflux commands with sync support
  src-tauri/src/commands/miniflux.rs
  src-tauri/src/commands/miniflux.test.rs
  src-tauri/src/miniflux/client.rs
  src-tauri/src/utils/logger.rs
Due: none

feat: add sync store and update Tauri bindings
  src/lib/bindings.ts
  src/lib/tauri-bindings.ts
  src/store/sync-store.test.ts
  src/store/sync-store.ts
Due: biome-check, type-check

refactor: update Miniflux services for sync integration
  src/services/miniflux/feeds.ts
  src/services/miniflux/users.ts
  src/services/preferences.ts
Due: biome-check, type-check

test: update test setup and add account store tests
  src/store/account-store.test.ts
  src/test/setup.ts
  src/vite-env.d.ts
Due: biome-check, type-check

feat: add in-view hook and update existing hooks
  src/hooks/use-account-initialization.ts
  src/hooks/use-auto-height.tsx
  src/hooks/use-is-in-view.tsx
Due: biome-check, type-check

style: add animation, global, and theme CSS files
  src/styles/animation.css
  src/styles/global.css
  src/styles/theme.css
Due: biome-check

feat: add animate-ui base components
  src/components/animate-ui/components/base/checkbox.tsx
  src/components/animate-ui/components/base/menu.tsx
  src/components/animate-ui/components/base/progress.tsx
  src/components/animate-ui/components/base/switch.tsx
  src/components/animate-ui/components/base/tabs.tsx
  src/components/animate-ui/components/base/toggle-group.tsx
  src/components/animate-ui/components/base/toggle.tsx
  src/components/animate-ui/components/base/tooltip.tsx
Due: biome-check, type-check

refactor: restructure animate-ui primitives
  src/components/animate-ui/primitives/animate/tabs.tsx
  src/components/animate-ui/primitives/animate/tooltip.tsx
  src/components/animate-ui/primitives/base/checkbox.tsx
  src/components/animate-ui/primitives/base/collapsible.tsx
  src/components/animate-ui/primitives/base/menu.tsx
  src/components/animate-ui/primitives/base/progress.tsx
  src/components/animate-ui/primitives/base/switch.tsx
  src/components/animate-ui/primitives/base/tabs.tsx
  src/components/animate-ui/primitives/base/toggle-group.tsx
  src/components/animate-ui/primitives/base/toggle.tsx
  src/components/animate-ui/primitives/base/tooltip.tsx
  src/components/animate-ui/primitives/effects/auto-height.tsx
  src/components/animate-ui/primitives/effects/highlight.tsx
  src/components/animate-ui/primitives/texts/counting-number.tsx
Due: biome-check, type-check

refactor: update UI components for sync
  src/components/ui/checkbox.tsx
  src/components/ui/switch.tsx
  src/components/ui/tabs.tsx
Due: biome-check, type-check

refactor: update UI components for consistency
  src/components/ui/collapsible.tsx
  src/components/ui/item.tsx
  src/components/ui/menu.tsx
  src/components/ui/popover.tsx
  src/components/ui/progress.tsx
  src/components/ui/sidebar.tsx
  src/components/ui/tooltip.tsx
Due: biome-check, type-check

refactor: update date picker and calendar
  src/components/ui/breadcrumb.tsx
  src/components/ui/button-group.tsx
  src/components/ui/calendar.tsx
  src/components/ui/date-picker.tsx
  src/components/ui/field.tsx
  src/components/ui/input-group.tsx
  src/components/ui/label.tsx
Due: biome-check, type-check

refactor: update app sidebar
  src/components/layout/AppSidebar.test.tsx
  src/components/layout/AppSidebar.tsx
Due: biome-check, type-check

refactor: update slider and tag input
  src/components/ui/slider.tsx
  src/components/ui/tag-input.tsx
Due: biome-check, type-check

refactor: update miniflux entry views
  src/components/miniflux/EntryList.tsx
  src/components/miniflux/EntryReading.tsx
  src/components/miniflux/EntryReadingHeader.tsx
Due: biome-check, type-check

Path conditions:
  biome-check: any of: *.{js,jsx,ts,tsx,json,css,md}
  type-check: any of: *.{ts,tsx}
