Repository sinhong2011/minikyu: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, type-check

biome-check:
  run: bun run biome check --write {staged_files}
  stage_fixed: true

type-check:
  run: bunx tsc --noEmit

feat(ui): Add custom scrollbar styling
  src/styles/global.css
  src/styles/theme.css
Due: biome-check

feat(ui): Update titlebar and minor component polish
  src/components/miniflux/UserNav.tsx
  src/components/titlebar/WindowTitleBar.tsx
  src/components/ui/badge-count.tsx
  src/components/ui/sidebar.tsx
Due: biome-check, type-check

feat(ui): Add custom formatter support to counting-number component
  src/components/animate-ui/primitives/texts/counting-number.tsx
Due: biome-check, type-check

chore: Regenerate bindings and update dev config
  .sisyphus/notepads/miniflux-accounts-wave-2/learnings.md
  mise.toml
  src/lib/bindings.ts
  src/main.tsx
  src/test/setup.ts
Due: biome-check, type-check

fix(miniflux): Use PUT instead of POST for bookmark toggle API
  src-tauri/src/miniflux/client.rs
Due: none

feat(miniflux): Add toggle entry read command and improve toggle star
  src-tauri/src/bindings.rs
  src-tauri/src/commands/miniflux.rs
Due: none

feat(miniflux): Add toggle entry read hook with optimistic cache update
  src/services/miniflux/entries.ts
Due: biome-check, type-check

feat(entry): Mark entry as read on selection
  src/components/miniflux/MinifluxLayout.tsx
Due: biome-check, type-check

feat(reader): Improve entry reading with toggle read and keyboard shortcuts
  src/components/miniflux/EntryReading.tsx
Due: biome-check, type-check

feat(ui): Add animated read icon and enhanced share menu in reader header
  src-tauri/capabilities/default.json
  src/components/miniflux/EntryReadingHeader.tsx
Due: biome-check, type-check

feat(account): Clear old data when switching to different Miniflux server
  src-tauri/src/commands/accounts.rs
Due: none

chore: Regenerate TypeScript bindings
  src/lib/bindings.ts
Due: biome-check, type-check

chore: Remove @tanstack/react-virtual dependency
  bun.lock
  package.json
Due: biome-check

refactor(entry-list): Replace virtual list with content-visibility for better animation support
  src/components/miniflux/EntryList.tsx
Due: biome-check, type-check

fix(entries): Update entry status in cache without refetching list
  src/services/miniflux/entries.ts
Due: biome-check, type-check

fix(filter-bar): Prevent movement during scroll
  src/components/miniflux/EntryListFloatingFilterBar.tsx
Due: biome-check, type-check

feat(ui): Add zen mode for distraction-free reading
  src/components/zen-mode/ZenModeView.tsx
  src/components/zen-mode/index.ts
  src/hooks/use-random-entry.ts
Due: biome-check, type-check

feat(ui): Add zen mode state management and titlebar toggle
  src/components/layout/MainWindow.tsx
  src/components/titlebar/WindowTitleBar.tsx
  src/store/ui-store.ts
Due: biome-check, type-check

feat(reader): Add scroll tracking and hide navigation for zen mode
  src/components/layout/MainWindowContent.tsx
  src/components/miniflux/EntryReading.tsx
  src/components/miniflux/EntryReadingHeader.tsx
  src/components/miniflux/MinifluxLayout.tsx
Due: biome-check, type-check

fix(dialog): Fix category combobox not showing pre-selected value
  src/components/miniflux/settings/FeedCategoryDialogsHost.tsx
  src/components/miniflux/settings/FeedFormDialog.tsx
Due: biome-check, type-check

feat(dialog): Improve AddFeedDialog with animations and search option
  src/components/layout/AppSidebar.tsx
  src/components/miniflux/AddFeedDialog.tsx
  src/components/miniflux/settings/dialog-state.ts
Due: biome-check, type-check

chore: Remove toast notification from preferences save
  src/services/preferences.ts
Due: biome-check, type-check

chore: Regenerate TypeScript bindings and update locale messages
  src-tauri/src/miniflux/client.rs
  src/locales/en/messages.po
  src/locales/en/messages.ts
  src/locales/ja/messages.po
  src/locales/ja/messages.ts
  src/locales/ko/messages.po
  src/locales/ko/messages.ts
  src/locales/zh-CN/messages.po
  src/locales/zh-CN/messages.ts
  src/locales/zh-TW/messages.po
  src/locales/zh-TW/messages.ts
Due: biome-check, type-check

fix(test): Update tests for AddFeedDialog changes
  src/components/layout/AppSidebar.test.tsx
  src/components/miniflux/MinifluxLayout.test.tsx
Due: biome-check, type-check

docs: Add comprehensive Git flow guide
  AGENTS.md
  docs/developer/README.md
  docs/developer/git-flow.md
Due: biome-check

docs: add CI/CD setup guide
  docs/developer/README.md
  docs/developer/ci-cd-setup.md
Due: biome-check

ci: Add CI workflow for PR verification
  .github/workflows/ci.yml
Due: none

ci: Connect release-please to release workflow
  .github/workflows/release-please.yml
  .github/workflows/release.yml
Due: none

fix: Update package-name to minikyu in release-please
  .github/workflows/release-please.yml
Due: none

chore: Update gitignore and regenerate bindings
  .gitignore
  src/lib/bindings.ts
Due: biome-check, type-check

chore(tauri): Update updater endpoint configuration
  src-tauri/tauri.conf.json
Due: biome-check

chore(tauri): Update macOS signing identity and updater public key
  src-tauri/tauri.conf.json
Due: biome-check

ci: Add production environment to release workflow
  .github/workflows/release.yml
Due: none

fix(ui): Add missing dependency to categoryOptions useMemo
  src/components/miniflux/settings/FeedFormDialog.tsx
Due: biome-check, type-check

ci: Add OpenCode GitHub Actions workflow
  .github/workflows/opencode.yml
Due: none

chore(ci): Enable automatic prerelease detection in release workflow
  .github/workflows/release.yml
Due: none

chore(ci): Add conditional environment for no-sign testing
  .github/workflows/release.yml
Due: none

chore(ci): Revert to standard production environment
  .github/workflows/release.yml
Due: none

chore(ci): Use dynamic environment to support no-sign testing on features
  .github/workflows/release.yml
Due: none

Path conditions:
  biome-check: any of: *.{js,jsx,ts,tsx,json,css,md}
  type-check: any of: *.{ts,tsx}
