Repository sinhong2011/minikyu: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, type-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome-check:
      glob: '*.{js,jsx,ts,tsx,json,css,md}'
      run: bun run biome check --write {staged_files}
      stage_fixed: true

    type-check:
      glob: '*.{ts,tsx}'
      run: bunx tsc --noEmit

pre-push:
  parallel: true
  commands:
    test:
      run: bun run test:run

    tauri-check:
      run: bun run tauri:check

commit-msg:
  commands:
    lint:
      run: bunx commitlint --edit {1}

feat(tauri): Add reader_translation_auto_enabled to AppPreferences
  src-tauri/src/types.rs
Due: none

docs: Add Translate now global preference design and implementation plan
  docs/plans/2026-02-20-translate-now-global-design.md
  docs/plans/2026-02-20-translate-now-global-implementation.md
Due: biome-check

chore(i18n): Extract and compile new translation strings for system prompt UI
  src/locales/en/messages.po
  src/locales/en/messages.ts
  src/locales/ja/messages.po
  src/locales/ja/messages.ts
  src/locales/ko/messages.po
  src/locales/ko/messages.ts
  src/locales/zh-CN/messages.po
  src/locales/zh-CN/messages.ts
  src/locales/zh-TW/messages.po
  src/locales/zh-TW/messages.ts
Due: biome-check, type-check

feat(preferences): Improve translation provider card density and add kind label
  src/components/preferences/panes/TranslationPane.tsx
Due: biome-check, type-check

feat(reader): Replace translating text with iridescent shimmer border animation
  src/components/miniflux/ImmersiveTranslationLayer.tsx
  src/styles/animation.css
Due: biome-check, type-check

chore: Regenerate bindings and expose translationAutoEnabled in useReaderSettings
  src/hooks/use-reader-settings.translation.test.ts
  src/hooks/use-reader-settings.ts
  src/lib/bindings.ts
Due: biome-check, type-check

feat(reader): Persist translation enabled state as AppPreference
  src/components/miniflux/EntryReading.tsx
  src/hooks/use-reader-settings.translation.test.ts
Due: biome-check, type-check

docs: Add translation UX enhancements implementation plan
  docs/plans/2026-02-20-translation-ux-enhancements-implementation.md
Due: biome-check

feat(reader): Update Translate now switch description to reflect global behavior
  src/components/miniflux/EntryReadingHeader.tsx
  src/locales/en/messages.po
  src/locales/en/messages.ts
  src/locales/ja/messages.po
  src/locales/ja/messages.ts
  src/locales/ko/messages.po
  src/locales/ko/messages.ts
  src/locales/zh-CN/messages.po
  src/locales/zh-CN/messages.ts
  src/locales/zh-TW/messages.po
  src/locales/zh-TW/messages.ts
Due: biome-check, type-check

docs: Update progress indicator to circular ring design
  docs/plans/2026-02-20-translation-ux-enhancements-design.md
Due: biome-check

docs: Add translation UX enhancements design doc
  docs/plans/2026-02-20-translation-ux-enhancements-design.md
Due: biome-check

feat(tauri): Add translation cache commands
  src-tauri/src/bindings.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/translation_cache.rs
  src-tauri/src/types.rs
Due: none

feat(reader): Move translation shimmer to node card level and add appear animation
  src/components/miniflux/ImmersiveTranslationLayer.tsx
  src/lib/bindings.ts
  src/styles/animation.css
Due: biome-check, type-check

feat(reader): Wire progress ring and selection translate popover
  src/components/miniflux/EntryReading.tsx
  src/components/miniflux/ImmersiveTranslationLayer.tsx
Due: biome-check, type-check

feat(reader): Add circular translation progress ring component
  src/components/miniflux/TranslationProgressRing.test.tsx
  src/components/miniflux/TranslationProgressRing.tsx
Due: biome-check, type-check

feat(reader): Integrate persistent translation cache and remove early-exit render path
  src/components/miniflux/ImmersiveTranslationLayer.test.tsx
  src/components/miniflux/ImmersiveTranslationLayer.tsx
  src/test/setup.ts
Due: biome-check, type-check

feat(reader): Enable per-node translate via node card menu
  src/components/miniflux/ImmersiveTranslationLayer.tsx
  src/components/miniflux/SafeHtml.test.tsx
  src/components/miniflux/SafeHtml.tsx
Due: biome-check, type-check

fix(reader): Smooth shimmer fade using ::before opacity transition
  src/styles/animation.css
Due: biome-check

fix(reader): Use correct motion/react import in TranslationProgressRing
  src/components/miniflux/TranslationProgressRing.tsx
Due: biome-check, type-check

feat(reader): Skip short paragraphs (< 20 chars) from auto-translation
  src/components/miniflux/ImmersiveTranslationLayer.test.tsx
  src/components/miniflux/ImmersiveTranslationLayer.tsx
Due: biome-check, type-check

fix(reader): Remove shimmer border loading animation
  src/styles/animation.css
Due: biome-check

feat(reader): Remove text-selection translate popover
  bun.lock
  docs/developer/README.md
  docs/developer/external-apis.md
  docs/developer/reader-immersive-translation.md
  package.json
  public/provider-icons/anthropic.ico
  public/provider-icons/baidu_translate.ico
  public/provider-icons/deepl.ico
  public/provider-icons/deepseek.ico
  public/provider-icons/gemini.ico
  public/provider-icons/glm.ico
  public/provider-icons/google_translate.ico
  public/provider-icons/hunyuan_mt.ico
  public/provider-icons/kimi.ico
  public/provider-icons/microsoft_translator.ico
  public/provider-icons/minimax.ico
  public/provider-icons/ollama.ico
  public/provider-icons/openai.ico
  public/provider-icons/openrouter.ico
  public/provider-icons/qwen.ico
  public/provider-icons/qwen_mt.ico
  src-tauri/src/accounts/keyring.rs
  src-tauri/src/commands/accounts.test.rs
  src-tauri/src/commands/preferences.rs
  src-tauri/src/commands/translation_router.test.rs
  src/components/miniflux/EntryReading.tsx
  src/components/miniflux/EntryReadingHeader.test.tsx
  src/components/preferences/PreferencesDialog.tsx
  src/components/preferences/panes/AdvancedPane.tsx
  src/components/preferences/panes/TranslationPane.translation.test.tsx
  src/services/preferences.test.ts
  src/services/preferences.ts
  src/services/translation/index.ts
  src/services/translation/router.test.ts
  src/services/translation/router.ts
  src/services/translation/types.ts
  src/store/ui-store.test.ts
  src/store/ui-store.ts
Due: biome-check, type-check

feat(reader): Add ParticleColumn canvas component for left-edge glow effect
  src/components/miniflux/ParticleColumn.test.tsx
  src/components/miniflux/ParticleColumn.tsx
Due: biome-check, type-check

fix(reader): Replace particle column with breathing L-shaped corner glow
  src/components/miniflux/ParticleColumn.tsx
Due: biome-check, type-check

feat(reader): Show left-edge particle glow during translation loading
  src/components/miniflux/SafeHtml.test.tsx
  src/components/miniflux/SafeHtml.tsx
Due: biome-check, type-check

docs: Add podcast feature design document
  docs/plans/2026-02-25-podcast-feature-design.md
Due: biome-check

docs: Add podcast feature implementation plan
  docs/plans/2026-02-25-podcast-feature-implementation.md
Due: biome-check

refactor(podcast): Remove airplay feature and polish reader header
  src/components/miniflux/EntryReadingHeader.tsx
  src/components/miniflux/MinifluxLayout.tsx
  src/components/podcast/PlayerWindowControls.tsx
  src/components/podcast/PlayerWindowQueue.tsx
  src/components/titlebar/LinuxTitleBar.tsx
  src/components/titlebar/TitleBarPodcastAnchor.tsx
  src/components/titlebar/WindowTitleBar.tsx
  src/hooks/use-audio-engine.ts
  src/hooks/use-player-command-listener.ts
  src/lib/player-events.ts
  src/pages/PlayerWindow.tsx
  src/pages/TrayPopover.tsx
  src/store/player-store.ts
Due: biome-check, type-check

fix(test): Add localStorage mock for zustand persist middleware
  src/test/setup.ts
Due: biome-check, type-check

fix(test): Update TitleBarPodcastAnchor tests to match simplified component
  src/components/titlebar/TitleBarPodcastAnchor.test.tsx
Due: biome-check, type-check

refactor(reader): Optimize shiki bundle and unwrap code blocks
  bun.lock
  package.json
  src/components/miniflux/SafeHtml.test.tsx
  src/components/miniflux/SafeHtml.tsx
  src/lib/shiki-highlight.ts
Due: biome-check, type-check

fix(tauri): Prevent macOS quit crash
  src-tauri/src/bindings.rs
  src-tauri/src/commands/tray.rs
  src-tauri/src/lib.rs
  src/lib/bindings.ts
  src/lib/menu.ts
Due: biome-check, type-check

docs: Add menubar and command palette enhancement design
  docs/plans/2026-02-26-menubar-command-palette-design.md
Due: biome-check

docs: Add menubar and command palette implementation plan
  docs/plans/2026-02-26-menubar-command-palette-implementation.md
Due: biome-check
