Repository sinhong2011/minikyu: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, type-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome-check:
      glob: '*.{js,jsx,ts,tsx,json,css,md}'
      run: bun run biome check --write {staged_files}
      stage_fixed: true

    type-check:
      glob: '*.{ts,tsx}'
      run: bunx tsc --noEmit

pre-push:
  parallel: true
  commands:
    test:
      run: bun run test:run

    tauri-check:
      run: bun run tauri:check

commit-msg:
  commands:
    lint:
      run: bunx commitlint --edit {1}

fix(ci): Remove tsc from build command to fix routeTree.gen timing
  package.json
Due: biome-check

fix(ci): Install GTK deps and commit routeTree.gen.ts
  .github/workflows/ci.yml
  .gitignore
  src/routeTree.gen.ts
Due: biome-check, type-check

fix(ci): Move signing secrets to production environment only
  .github/workflows/release.yml
  src-tauri/tauri.conf.json
Due: biome-check

perf(ci): Add Bun dependencies cache for CI and release workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix(ci): Only generate updater JSON for production builds
  .github/workflows/release.yml
Due: none

fix(ci): Disable updater plugin for non-production builds
  .github/workflows/release.yml
Due: none

fix(ci): Enhance updater plugin handling for non-production builds
  .github/workflows/release.yml
Due: none

chore(ci): Fix release workflow and CI checks
  .github/workflows/ci.yml
  biome.json
Due: biome-check

chore(ci): Ignore generated files in .biomeignore
  .biomeignore
Due: none

chore(ci): Fix Biome glob patterns for generated files
  biome.json
Due: biome-check

chore(ci): Disable assist/organizeImports for generated files
  biome.json
Due: biome-check

fix(ci): Fix updater disabling logic in release workflow
  .github/workflows/release.yml
Due: none

chore(ci): Use Tauri config merge pattern instead of sed
  .github/workflows/release.yml
  src-tauri/tauri.ci.json
Due: biome-check

fix(ci): Skip keyring tests in CI environment
  src-tauri/src/accounts/keyring.rs
  src-tauri/src/commands/accounts.test.rs
Due: none

chore(ci): Update release automation and signing infrastructure (#1)
  .biomeignore
  .github/workflows/ci.yml
  .github/workflows/opencode.yml
  .github/workflows/release-please.yml
  .github/workflows/release.yml
  .gitignore
  AGENTS.md
  biome.json
  docs/developer/README.md
  docs/developer/ci-cd-setup.md
  docs/developer/git-flow.md
  package.json
  src-tauri/src/accounts/keyring.rs
  src-tauri/src/commands/accounts.test.rs
  src-tauri/tauri.ci.json
  src-tauri/tauri.conf.json
  src/components/miniflux/settings/FeedFormDialog.tsx
  src/lib/bindings.ts
  src/routeTree.gen.ts
Due: biome-check, type-check

chore: Configure beta release strategy
  .github/workflows/release-please.yml
  .release-please-manifest.json
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: biome-check

chore(ci): Fix release workflow and configure beta releases (#3)
  .github/workflows/release-please.yml
  .release-please-manifest.json
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: biome-check

chore(ci): Disable automatic release-please during beta phase
  .github/workflows/release-please.yml
Due: none

docs: Rewrite README for Minikyu RSS Reader
  README.md
  biome.json
Due: biome-check

docs: Consolidate i18n documentation into single file
  biome.json
  docs/developer/README.md
  docs/developer/i18n-lingui-best-practices.md
  docs/developer/i18n-strategy.md
  docs/developer/i18n.md
Due: biome-check

docs: Rewrite README and consolidate i18n docs (#5)
  README.md
  biome.json
  docs/developer/README.md
  docs/developer/i18n-lingui-best-practices.md
  docs/developer/i18n-strategy.md
  docs/developer/i18n.md
Due: biome-check

style: Remove unnecessary fragment in UserNav
  src/components/miniflux/UserNav.tsx
Due: biome-check, type-check

feat: Merge Miniflux settings into Preferences dialog
  src/components/preferences/PreferencesDialog.tsx
Due: biome-check, type-check

feat: Extend PreferencesPane type and add open preferences to pane helper
  src/store/ui-store.ts
Due: biome-check, type-check

refactor: Move Miniflux panes to preferences directory
  src/components/miniflux/MinifluxSettingsDialog.tsx
  src/components/preferences/panes/ApiTokenPane.tsx
  src/components/preferences/panes/CategoriesPane.tsx
  src/components/preferences/panes/FeedsPane.tsx
  src/components/preferences/panes/UsersPane.tsx
Due: biome-check, type-check

refactor: Update UserNav to open main Preferences dialog
  src/components/miniflux/UserNav.tsx
Due: biome-check, type-check

refactor: Remove MinifluxSettingsDialog component
  .agents/skills/find-skills/SKILL.md
  .claude/settings.json
  .claude/skills/find-skills
  .claude/statusline-command.sh
  docs/plans/2026-02-17-merged-preferences-dialog-design.md
  docs/plans/2026-02-17-merged-preferences-dialog-implementation.md
  public/screenshots/main.png
  src/components/miniflux/MinifluxSettingsDialog.tsx
  src/components/miniflux/index.ts
  src/routeTree.gen.ts
Due: biome-check, type-check

feat: Add Miniflux dialog providers to Preferences
  src/components/preferences/PreferencesDialog.tsx
Due: biome-check, type-check

fix: Improve error handling and type safety in Preferences
  src/components/preferences/PreferencesDialog.tsx
Due: biome-check, type-check

feat: Wire up Miniflux pane handlers in PreferencesDialog
  src/components/preferences/PreferencesDialog.tsx
Due: biome-check, type-check

chore: Add translations for merged preferences dialog
  src/locales/en/messages.po
  src/locales/en/messages.ts
  src/locales/ja/messages.po
  src/locales/ja/messages.ts
  src/locales/ko/messages.po
  src/locales/ko/messages.ts
  src/locales/zh-CN/messages.po
  src/locales/zh-CN/messages.ts
  src/locales/zh-TW/messages.po
  src/locales/zh-TW/messages.ts
Due: biome-check, type-check

fix(lefthook): Update glob pattern to match subdirectories
  lefthook.yml
Due: none

fix: Update type-check glob pattern to match subdirectories
  lefthook.yml
Due: none

fix: Move MinifluxSettingsDialogProvider to MainWindow
  src/components/layout/MainWindow.tsx
  src/components/preferences/PreferencesDialog.tsx
Due: biome-check, type-check

refactor: Use Provider Boundary Pattern for MinifluxSettingsDialogStore
  src/components/layout/MainWindow.tsx
  src/components/preferences/PreferencesDialog.tsx
Due: biome-check, type-check

revert: Refactor to use Provider Boundary Pattern
  src/components/layout/MainWindow.tsx
  src/components/preferences/PreferencesDialog.tsx
Due: biome-check, type-check

feat: Remove settings button from UserNav and increase PreferencesDialog size
  src/components/miniflux/UserNav.tsx
  src/components/preferences/PreferencesDialog.tsx
Due: biome-check, type-check

test: Remove obsolete tests for Miniflux settings button
  src/components/miniflux/UserNav.test.tsx
Due: biome-check, type-check

feat: Merge Miniflux Settings into Unified Preferences Dialog (#6)
  .agents/skills/find-skills/SKILL.md
  .claude/settings.json
  .claude/skills/find-skills
  .claude/statusline-command.sh
  docs/plans/2026-02-17-merged-preferences-dialog-design.md
  docs/plans/2026-02-17-merged-preferences-dialog-implementation.md
  lefthook.yml
  public/screenshots/main.png
  src/components/layout/MainWindow.tsx
  src/components/miniflux/MinifluxSettingsDialog.tsx
  src/components/miniflux/UserNav.test.tsx
  src/components/miniflux/UserNav.tsx
  src/components/miniflux/index.ts
  src/components/preferences/PreferencesDialog.tsx
  src/components/preferences/panes/ApiTokenPane.tsx
  src/components/preferences/panes/CategoriesPane.tsx
  src/components/preferences/panes/FeedsPane.tsx
  src/components/preferences/panes/UsersPane.tsx
  src/locales/en/messages.po
  src/locales/en/messages.ts
  src/locales/ja/messages.po
  src/locales/ja/messages.ts
  src/locales/ko/messages.po
  src/locales/ko/messages.ts
  src/locales/zh-CN/messages.po
  src/locales/zh-CN/messages.ts
  src/locales/zh-TW/messages.po
  src/locales/zh-TW/messages.ts
  src/routeTree.gen.ts
  src/store/ui-store.ts
Due: biome-check, type-check

feat(miniflux): Add integrations panel and OPML import/export
  src-tauri/src/bindings.rs
  src-tauri/src/commands/miniflux.rs
  src-tauri/src/miniflux/client.rs
  src-tauri/src/miniflux/types.rs
  src/components/layout/AppSidebar.test.tsx
  src/components/miniflux/MinifluxLayout.test.tsx
  src/components/miniflux/MinifluxLayout.tsx
  src/components/miniflux/UserNav.tsx
  src/components/miniflux/settings/dialog-state.ts
  src/components/preferences/PreferencesDialog.tsx
  src/components/preferences/panes/AboutPane.tsx
  src/components/preferences/panes/CategoriesPane.tsx
  src/components/preferences/panes/FeedsPane.tsx
  src/components/preferences/panes/IntegrationsPane.tsx
  src/hooks/use-platform.test.ts
  src/lib/bindings.ts
  src/services/miniflux/entries.ts
  src/services/miniflux/index.ts
  src/services/miniflux/integrations.ts
  src/services/miniflux/version.ts
  src/store/ui-store.ts
  src/test/setup.ts
  vitest.config.ts
Due: biome-check, type-check
