Repository sinhong2011/minikyu: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, type-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome-check:
      glob: '*.{js,jsx,ts,tsx,json,css,md}'
      run: bun run biome check --write {staged_files}
      stage_fixed: true

    type-check:
      glob: '*.{ts,tsx}'
      run: bunx tsc --noEmit

pre-push:
  parallel: true
  commands:
    test:
      run: bun run test:run

    tauri-check:
      run: bun run tauri:check

commit-msg:
  commands:
    lint:
      run: bunx commitlint --edit {1}

feat: Debounced cloud sync push and optional auto-pull on startup
  .env.example
  src-tauri/src/cloud_sync/debounce.rs
  src-tauri/src/cloud_sync/mod.rs
  src-tauri/src/cloud_sync/webdav.rs
  src-tauri/src/commands/preferences.rs
  src-tauri/src/lib.rs
  src-tauri/src/types.rs
  src/App.tsx
  src/components/preferences/panes/CloudSyncSection.tsx
  src/hooks/use-cloud-sync-auto-pull.ts
  src/lib/bindings.ts
  src/locales/en/messages.po
  src/locales/en/messages.ts
  src/locales/ja/messages.po
  src/locales/ja/messages.ts
  src/locales/ko/messages.po
  src/locales/ko/messages.ts
  src/locales/zh-CN/messages.po
  src/locales/zh-CN/messages.ts
  src/locales/zh-TW/messages.po
  src/locales/zh-TW/messages.ts
Due: biome-check, type-check

feat: Add i18n translations for Cloud Sync pane
  src-tauri/src/commands/cloud_sync.rs
  src/locales/en/messages.po
  src/locales/en/messages.ts
  src/locales/ja/messages.po
  src/locales/ja/messages.ts
  src/locales/ko/messages.po
  src/locales/ko/messages.ts
  src/locales/zh-CN/messages.po
  src/locales/zh-CN/messages.ts
  src/locales/zh-TW/messages.po
  src/locales/zh-TW/messages.ts
Due: biome-check, type-check

docs: Add cloud sync env var examples for S3 and WebDAV testing
  .env.example
  src-tauri/src/cloud_sync/s3.test.rs
Due: none

refactor: Move Cloud Sync into Advanced tab Preferences Backup section
  src/components/preferences/PreferencesDialog.tsx
  src/components/preferences/panes/AdvancedPane.tsx
  src/components/preferences/panes/CloudSyncPane.tsx
  src/store/ui-store.ts
Due: biome-check, type-check

feat: Collapse Cloud Sync form when disabled
  src/components/preferences/panes/AdvancedPane.tsx
Due: biome-check, type-check

feat: Add WebDAV protocol support for cloud sync
  src-tauri/Cargo.toml
  src-tauri/src/bindings.rs
  src-tauri/src/cloud_sync/keyring.rs
  src-tauri/src/cloud_sync/mod.rs
  src-tauri/src/cloud_sync/webdav.rs
  src-tauri/src/commands/cloud_sync.rs
  src-tauri/src/types.rs
  src/components/preferences/panes/AdvancedPane.tsx
  src/lib/bindings.ts
  src/locales/en/messages.po
  src/locales/en/messages.ts
  src/locales/ja/messages.po
  src/locales/ja/messages.ts
  src/locales/ko/messages.po
  src/locales/ko/messages.ts
  src/locales/zh-CN/messages.po
  src/locales/zh-CN/messages.ts
  src/locales/zh-TW/messages.po
  src/locales/zh-TW/messages.ts
Due: biome-check, type-check

feat: Add S3 operations, Tauri commands, and Cloud Sync preferences pane
  src-tauri/src/bindings.rs
  src-tauri/src/cloud_sync/s3.rs
  src-tauri/src/commands/cloud_sync.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/preferences.rs
  src/components/preferences/PreferencesDialog.tsx
  src/components/preferences/panes/CloudSyncPane.tsx
  src/lib/bindings.ts
  src/store/ui-store.ts
Due: biome-check, type-check

feat: Add rust-s3 dependency, cloud sync preference fields, and keyring helpers
  src-tauri/Cargo.toml
  src-tauri/src/cloud_sync/keyring.rs
  src-tauri/src/cloud_sync/mod.rs
  src-tauri/src/cloud_sync/s3.rs
  src-tauri/src/lib.rs
  src-tauri/src/types.rs
  src/lib/bindings.ts
Due: biome-check, type-check

refactor: Extract CloudSyncSection component with motion animations
  src-tauri/src/cloud_sync/s3.rs
  src-tauri/src/cloud_sync/s3.test.rs
  src/components/preferences/panes/AdvancedPane.tsx
  src/components/preferences/panes/CloudSyncSection.tsx
Due: biome-check, type-check

ci: Add macOS universal binary build to release workflow
  .github/workflows/release.yml
Due: none

fix: Separate update download from install for proper user consent
  src/AppProviders.tsx
  src/components/preferences/panes/AboutPane.tsx
  src/lib/updater.test.ts
  src/lib/updater.ts
  src/locales/en/messages.po
  src/locales/en/messages.ts
  src/locales/ja/messages.po
  src/locales/ja/messages.ts
  src/locales/ko/messages.po
  src/locales/ko/messages.ts
  src/locales/zh-CN/messages.po
  src/locales/zh-CN/messages.ts
  src/locales/zh-TW/messages.po
  src/locales/zh-TW/messages.ts
Due: biome-check, type-check

fix(ui): Remove window corner rounding on Windows to fix white moon artifacts
  src/main.tsx
  src/styles/global.css
  src/styles/theme.css
Due: biome-check, type-check

fix: Allow asset protocol access to all Windows drive letters
  src-tauri/tauri.conf.json
Due: biome-check

fix: Grant asset protocol scope at runtime for background images
  src-tauri/src/commands/preferences.rs
  src-tauri/tauri.conf.json
Due: biome-check

fix(ui): Match download button height to URL input field
  src/components/preferences/panes/AppearancePane.tsx
Due: biome-check, type-check

fix: Use native window decorations on Windows to avoid rounded corner gaps
  src-tauri/tauri.windows.conf.json
  src/components/layout/MainWindow.tsx
  src/components/titlebar/WindowTitleBar.tsx
  src/styles/global.css
  src/styles/theme.css
Due: biome-check, type-check

fix(ui): Match download button height and reduce macOS corner radius
  src/components/preferences/panes/AppearancePane.tsx
  src/styles/global.css
  src/styles/theme.css
Due: biome-check, type-check

fix(ci): Download artifacts into .app wrapper directory
  .github/workflows/release.yml
  src/components/preferences/panes/CloudSyncSection.tsx
Due: biome-check, type-check

fix(ci): Download artifacts into .app wrapper directory (#65)
  .github/workflows/release.yml
  src/components/preferences/panes/CloudSyncSection.tsx
Due: biome-check, type-check

fix(windows): Bypass asset protocol for background images on Windows
  src-tauri/src/bindings.rs
  src-tauri/src/commands/preferences.rs
  src/components/layout/MainWindow.tsx
  src/components/preferences/panes/AppearancePane.tsx
  src/components/zen-mode/ZenModeView.tsx
  src/hooks/use-local-image-url.ts
  src/lib/bindings.ts
Due: biome-check, type-check

fix(windows): Bypass asset protocol for background images on Windows (#67)
  src-tauri/src/bindings.rs
  src-tauri/src/commands/preferences.rs
  src/components/layout/MainWindow.tsx
  src/components/preferences/panes/AppearancePane.tsx
  src/components/zen-mode/ZenModeView.tsx
  src/hooks/use-local-image-url.ts
  src/lib/bindings.ts
Due: biome-check, type-check

docs: Add video embed support design spec
  docs/superpowers/specs/2026-03-10-video-embed-support-design.md
Due: biome-check

docs: Add video embed support implementation plan
  docs/superpowers/plans/2026-03-10-video-embed-support.md
Due: biome-check

feat: Add video embed URL utilities for YouTube and Bilibili
  src/lib/video-embed-utils.test.ts
  src/lib/video-embed-utils.ts
Due: biome-check, type-check

feat: Allow trusted video iframes through DOMPurify sanitizer
  src/components/miniflux/SafeHtml.tsx
  src/components/miniflux/sanitize-reader-html.test.ts
Due: biome-check, type-check

feat: Add iframe replace handler for YouTube and Bilibili video embeds
  src/components/miniflux/SafeHtml.test.tsx
  src/components/miniflux/SafeHtml.tsx
Due: biome-check, type-check

feat: Auto-generate video embeds from YouTube and Bilibili entry URLs
  src/components/miniflux/EntryReading.tsx
  src/components/miniflux/SafeHtml.tsx
  src/lib/video-embed-utils.test.ts
  src/lib/video-embed-utils.ts
Due: biome-check, type-check

fix: Sync entry list date grouping with sort order to prevent duplicate section headers
  src/components/miniflux/EntryList.tsx
  src/components/miniflux/sanitize-reader-html.test.ts
  src/lib/miniflux-utils.test.ts
  src/lib/miniflux-utils.ts
  src/locales/en/messages.po
  src/locales/ja/messages.po
  src/locales/ko/messages.po
  src/locales/zh-CN/messages.po
  src/locales/zh-TW/messages.po
Due: biome-check, type-check

fix: Add frame-src CSP and treat iframes as block-level elements for video embeds
  src-tauri/tauri.conf.json
  src/components/miniflux/entry-toc.ts
  src/locales/en/messages.po
  src/locales/ja/messages.po
  src/locales/ko/messages.po
  src/locales/zh-CN/messages.po
  src/locales/zh-TW/messages.po
Due: biome-check, type-check

fix: Video embed support and entry list date grouping (#69)
  docs/superpowers/plans/2026-03-10-video-embed-support.md
  docs/superpowers/specs/2026-03-10-video-embed-support-design.md
  src-tauri/tauri.conf.json
  src/components/miniflux/EntryList.tsx
  src/components/miniflux/EntryReading.tsx
  src/components/miniflux/SafeHtml.test.tsx
  src/components/miniflux/SafeHtml.tsx
  src/components/miniflux/entry-toc.ts
  src/components/miniflux/sanitize-reader-html.test.ts
  src/lib/miniflux-utils.test.ts
  src/lib/miniflux-utils.ts
  src/lib/video-embed-utils.test.ts
  src/lib/video-embed-utils.ts
  src/locales/en/messages.po
  src/locales/ja/messages.po
  src/locales/ko/messages.po
  src/locales/zh-CN/messages.po
  src/locales/zh-TW/messages.po
Due: biome-check, type-check

fix(ci): Use RELEASE_PAT for release-please to trigger downstream workflows
  .github/workflows/release-please.yml
  docs/developer/release-workflow.md
Due: biome-check

fix(ci): Use RELEASE_PAT for release-please to trigger downstream workflows (#74)
  .github/workflows/release-please.yml
  docs/developer/release-workflow.md
Due: biome-check

chore: release main
  .release-please-manifest.json
  CHANGELOG.md
  package.json
  src-tauri/tauri.conf.json
Due: biome-check

refactor(cloud-sync): Return merged AppPreferences from cloud_sync_pull
  src-tauri/src/commands/cloud_sync.rs
  src/lib/bindings.ts
Due: biome-check, type-check

fix(cloud-sync): Replace page reload with reactive cache update on manual pull
  src/components/preferences/panes/CloudSyncSection.tsx
Due: biome-check, type-check

fix(cloud-sync): Replace page reload with reactive cache update on auto-pull
  src/hooks/use-cloud-sync-auto-pull.ts
Due: biome-check, type-check

fix(cloud-sync): Smooth sync pull without page reload (#75)
  src-tauri/src/commands/cloud_sync.rs
  src/components/preferences/panes/CloudSyncSection.tsx
  src/hooks/use-cloud-sync-auto-pull.ts
  src/lib/bindings.ts
Due: biome-check, type-check
