Repository sinhong2011/minikyu: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, type-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome-check:
      glob: '*.{js,jsx,ts,tsx,json,css,md}'
      run: bun run biome check --write {staged_files}
      stage_fixed: true

    type-check:
      glob: '*.{ts,tsx}'
      run: bunx tsc --noEmit

pre-push:
  parallel: true
  commands:
    test:
      run: bun run test:run

    tauri-check:
      run: bun run tauri:check

commit-msg:
  commands:
    lint:
      run: bunx commitlint --edit {1}

fix(preferences): Add OPML import/export handlers and integrations pane
  src/components/preferences/PreferencesDialog.tsx
Due: biome-check, type-check

feat(preferences): Improve FeedsPane and CategoriesPane UX
  src/components/preferences/PreferencesDialog.tsx
  src/components/preferences/panes/CategoriesPane.tsx
  src/components/preferences/panes/FeedsPane.tsx
Due: biome-check, type-check

feat(preferences): Add actions, status and checked time to feeds table
  src/components/preferences/PreferencesDialog.tsx
  src/components/preferences/panes/FeedsPane.tsx
Due: biome-check, type-check

feat: Add integrations panel and improve feed/category management (#7)
  src-tauri/src/bindings.rs
  src-tauri/src/commands/miniflux.rs
  src-tauri/src/miniflux/client.rs
  src-tauri/src/miniflux/types.rs
  src/components/layout/AppSidebar.test.tsx
  src/components/miniflux/MinifluxLayout.test.tsx
  src/components/miniflux/MinifluxLayout.tsx
  src/components/miniflux/UserNav.tsx
  src/components/miniflux/settings/dialog-state.ts
  src/components/preferences/PreferencesDialog.tsx
  src/components/preferences/panes/AboutPane.tsx
  src/components/preferences/panes/CategoriesPane.tsx
  src/components/preferences/panes/FeedsPane.tsx
  src/components/preferences/panes/IntegrationsPane.tsx
  src/hooks/use-platform.test.ts
  src/lib/bindings.ts
  src/services/miniflux/entries.ts
  src/services/miniflux/index.ts
  src/services/miniflux/integrations.ts
  src/services/miniflux/version.ts
  src/store/ui-store.ts
  src/test/setup.ts
  vitest.config.ts
Due: biome-check, type-check

chore: Remove statusline config and add to gitignore
  .claude/settings.json
  .claude/statusline-command.sh
  .gitignore
Due: biome-check

chore: Remove statusline config and add to gitignore (#8)
  .claude/settings.json
  .claude/statusline-command.sh
  .gitignore
Due: biome-check

fix(preferences): Restore panel scrolling behavior
  src/components/preferences/PreferencesDialog.tsx
  src/components/preferences/panes/FeedsPane.tsx
  src/components/ui/data-table.tsx
Due: biome-check, type-check

fix(preferences): Restore panel scrolling behavior (#9)
  src/components/preferences/PreferencesDialog.tsx
  src/components/preferences/panes/FeedsPane.tsx
  src/components/ui/data-table.tsx
Due: biome-check, type-check

docs: Add splash screen design document
  docs/plans/2026-02-19-splash-screen-design.md
  lefthook.yml
Due: biome-check

feat: Add useAppReady hook for splash screen readiness tracking
  src/hooks/use-app-ready.test.ts
  src/hooks/use-app-ready.ts
Due: biome-check, type-check

feat: Dispatch app-init-complete event from AppProviders
  src/AppProviders.tsx
Due: biome-check, type-check

feat: Add splash screen CSS animations
  src/styles/global.css
  src/styles/splash.css
Due: biome-check

feat: Add SplashScreen component with animated mascot
  src/components/SplashScreen.tsx
Due: biome-check, type-check

feat: Integrate SplashScreen into AppProviders
  src/AppProviders.tsx
Due: biome-check, type-check

feat(splash): Use rounded glassmorphism window and reduce min duration
  src/components/SplashScreen.tsx
  src/hooks/use-app-ready.ts
  src/styles/splash.css
Due: biome-check, type-check

feat(miniflux): Improve entry list loading and startup UX
  docs/plans/2026-02-18-immersive-reader-translation-design.md
  docs/plans/2026-02-18-immersive-reader-translation-implementation.md
  docs/plans/2026-02-19-splash-screen-implementation.md
  src-tauri/gen_bindings.rs
  src-tauri/src/bindings.rs
  src-tauri/src/commands/miniflux.rs
  src-tauri/src/commands/miniflux.test.rs
  src-tauri/src/database/migrations.rs
  src-tauri/src/database/migrations.test.rs
  src-tauri/src/database/schema.sql
  src/components/SplashScreen.test.tsx
  src/components/SplashScreen.tsx
  src/components/layout/AppSidebar.test.tsx
  src/components/layout/AppSidebar.tsx
  src/components/miniflux/EntryList.tsx
  src/components/miniflux/MinifluxLayout.test.tsx
  src/components/miniflux/MinifluxLayout.tsx
  src/hooks/use-app-ready.ts
  src/lib/bindings.ts
  src/services/miniflux/entries.ts
  src/styles/splash.css
Due: biome-check, type-check

feat(miniflux): Improve entry list loading and startup UX (#11)
  docs/plans/2026-02-18-immersive-reader-translation-design.md
  docs/plans/2026-02-18-immersive-reader-translation-implementation.md
  docs/plans/2026-02-19-splash-screen-implementation.md
  src-tauri/gen_bindings.rs
  src-tauri/src/bindings.rs
  src-tauri/src/commands/miniflux.rs
  src-tauri/src/commands/miniflux.test.rs
  src-tauri/src/database/migrations.rs
  src-tauri/src/database/migrations.test.rs
  src-tauri/src/database/schema.sql
  src/components/SplashScreen.test.tsx
  src/components/SplashScreen.tsx
  src/components/layout/AppSidebar.test.tsx
  src/components/layout/AppSidebar.tsx
  src/components/miniflux/EntryList.tsx
  src/components/miniflux/MinifluxLayout.test.tsx
  src/components/miniflux/MinifluxLayout.tsx
  src/hooks/use-app-ready.ts
  src/lib/bindings.ts
  src/services/miniflux/entries.ts
  src/styles/splash.css
Due: biome-check, type-check

feat(miniflux): Add original content download flow and reader feedback
  docs/plans/2026-02-21-miniflux-original-content-download-implementation.md
  src-tauri/src/commands/miniflux.rs
  src-tauri/src/commands/miniflux.test.rs
  src-tauri/src/miniflux/client.rs
  src/components/miniflux/AddFeedDialog.tsx
  src/components/miniflux/EditFeedDialog.tsx
  src/components/miniflux/EntryReading.tsx
  src/components/miniflux/EntryReadingHeader.test.tsx
  src/components/miniflux/EntryReadingHeader.tsx
  src/components/miniflux/settings/FeedFormDialog.test.tsx
  src/components/miniflux/settings/FeedFormDialog.tsx
  src/locales/en/messages.po
  src/locales/en/messages.ts
  src/locales/ja/messages.po
  src/locales/ja/messages.ts
  src/locales/ko/messages.po
  src/locales/ko/messages.ts
  src/locales/zh-CN/messages.po
  src/locales/zh-CN/messages.ts
  src/locales/zh-TW/messages.po
  src/locales/zh-TW/messages.ts
  src/services/miniflux/entries.test.ts
  src/services/miniflux/entries.ts
Due: biome-check, type-check

feat(miniflux): Add original content download flow and reader feedback (#12)
  docs/plans/2026-02-21-miniflux-original-content-download-implementation.md
  src-tauri/src/commands/miniflux.rs
  src-tauri/src/commands/miniflux.test.rs
  src-tauri/src/miniflux/client.rs
  src/components/miniflux/AddFeedDialog.tsx
  src/components/miniflux/EditFeedDialog.tsx
  src/components/miniflux/EntryReading.tsx
  src/components/miniflux/EntryReadingHeader.test.tsx
  src/components/miniflux/EntryReadingHeader.tsx
  src/components/miniflux/settings/FeedFormDialog.test.tsx
  src/components/miniflux/settings/FeedFormDialog.tsx
  src/locales/en/messages.po
  src/locales/en/messages.ts
  src/locales/ja/messages.po
  src/locales/ja/messages.ts
  src/locales/ko/messages.po
  src/locales/ko/messages.ts
  src/locales/zh-CN/messages.po
  src/locales/zh-CN/messages.ts
  src/locales/zh-TW/messages.po
  src/locales/zh-TW/messages.ts
  src/services/miniflux/entries.test.ts
  src/services/miniflux/entries.ts
Due: biome-check, type-check

docs: Add in-app browser design plan
  docs/plans/2026-02-22-in-app-browser-design.md
Due: biome-check

docs: Add in-app browser implementation plan
  docs/plans/2026-02-22-in-app-browser-implementation.md
Due: biome-check

feat(tauri): Add in-app browser Rust commands
  src-tauri/Cargo.toml
  src-tauri/src/bindings.rs
  src-tauri/src/commands/in_app_browser.rs
  src-tauri/src/commands/mod.rs
Due: none

chore: Regenerate TypeScript bindings for in-app browser commands
  lefthook.yml
  src/lib/bindings.ts
Due: biome-check, type-check

feat(store): Add inAppBrowserUrl state to UIStore
  src/store/ui-store.test.ts
  src/store/ui-store.ts
Due: biome-check, type-check

feat(hook): Add useInAppBrowser lifecycle hook
  src/hooks/use-in-app-browser.test.ts
  src/hooks/use-in-app-browser.ts
Due: biome-check, type-check

feat(component): Add InAppBrowserPane with toolbar and ResizeObserver
  src/components/miniflux/InAppBrowserPane.test.tsx
  src/components/miniflux/InAppBrowserPane.tsx
  src/hooks/use-in-app-browser.ts
Due: biome-check, type-check

feat(reader): Wire article title click to in-app browser
  src/components/miniflux/EntryReading.tsx
  src/components/miniflux/EntryReadingHeader.tsx
Due: biome-check, type-check

feat(layout): Show InAppBrowserPane when in-app browser is active
  src/components/layout/MainWindowContent.tsx
Due: biome-check, type-check

chore(i18n): Extract in-app browser toolbar strings
  src/locales/en/messages.po
  src/locales/en/messages.ts
  src/locales/ja/messages.po
  src/locales/ja/messages.ts
  src/locales/ko/messages.po
  src/locales/ko/messages.ts
  src/locales/zh-CN/messages.po
  src/locales/zh-CN/messages.ts
  src/locales/zh-TW/messages.po
  src/locales/zh-TW/messages.ts
Due: biome-check, type-check

feat(in-app-browser): Add toolbar buttons and animated transitions
  src-tauri/src/bindings.rs
  src-tauri/src/commands/in_app_browser.rs
  src/components/layout/MainWindowContent.tsx
  src/components/miniflux/InAppBrowserPane.tsx
  src/lib/bindings.ts
  src/locales/en/messages.po
  src/locales/en/messages.ts
  src/locales/ja/messages.po
  src/locales/ja/messages.ts
  src/locales/ko/messages.po
  src/locales/ko/messages.ts
  src/locales/zh-CN/messages.po
  src/locales/zh-CN/messages.ts
  src/locales/zh-TW/messages.po
  src/locales/zh-TW/messages.ts
Due: biome-check, type-check

fix(in-app-browser): Fix z-index overlap and dark mode theme sync
  src-tauri/src/commands/in_app_browser.rs
  src/hooks/use-in-app-browser.ts
Due: biome-check, type-check

feat(in-app-browser): Native in-app browser with animated toolbar (#13)
  docs/plans/2026-02-22-in-app-browser-design.md
  docs/plans/2026-02-22-in-app-browser-implementation.md
  lefthook.yml
  src-tauri/Cargo.toml
  src-tauri/src/bindings.rs
  src-tauri/src/commands/in_app_browser.rs
  src-tauri/src/commands/mod.rs
  src/components/layout/MainWindowContent.tsx
  src/components/miniflux/EntryReading.tsx
  src/components/miniflux/EntryReadingHeader.tsx
  src/components/miniflux/InAppBrowserPane.test.tsx
  src/components/miniflux/InAppBrowserPane.tsx
  src/hooks/use-in-app-browser.test.ts
  src/hooks/use-in-app-browser.ts
  src/lib/bindings.ts
  src/locales/en/messages.po
  src/locales/en/messages.ts
  src/locales/ja/messages.po
  src/locales/ja/messages.ts
  src/locales/ko/messages.po
  src/locales/ko/messages.ts
  src/locales/zh-CN/messages.po
  src/locales/zh-CN/messages.ts
  src/locales/zh-TW/messages.po
  src/locales/zh-TW/messages.ts
  src/store/ui-store.test.ts
  src/store/ui-store.ts
Due: biome-check, type-check

docs: Add LLM provider custom prompt field design
  docs/plans/2026-02-20-llm-provider-prompt-field-design.md
Due: biome-check

docs: Add LLM provider prompt field implementation plan
  docs/plans/2026-02-20-llm-provider-prompt-field-implementation.md
Due: biome-check

feat(translation): Replace hardcoded Ollama prompt with shared resolve_llm_system_prompt
  src-tauri/src/commands/translation.rs
  src-tauri/src/commands/translation.test.rs
Due: none

feat(translation): Add system_prompt field to ReaderTranslationProviderSettings
  src-tauri/src/types.rs
Due: none

test(translation): Add whitespace-only system_prompt rejection test
  src-tauri/src/types.rs
Due: none

chore: Regenerate TypeScript bindings for system_prompt field
  src/components/preferences/panes/TranslationPane.tsx
  src/lib/bindings.ts
  src/lib/tauri-bindings.ts
Due: biome-check, type-check

feat(translation): Add system prompt textarea to LLM provider settings panel
  src/components/preferences/panes/TranslationPane.tsx
Due: biome-check, type-check

feat(translation): Wire system_prompt into provider runtime state and save handler
  src/components/preferences/panes/TranslationPane.tsx
Due: biome-check, type-check
