Repository sinhong2011/minikyu: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, type-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome-check:
      glob: '*.{js,jsx,ts,tsx,json,css,md}'
      run: bun run biome check --write {staged_files}
      stage_fixed: true

    type-check:
      glob: '*.{ts,tsx}'
      run: bunx tsc --noEmit

pre-push:
  parallel: true
  commands:
    test:
      run: bun run test:run

    tauri-check:
      run: bun run tauri:check

commit-msg:
  commands:
    lint:
      run: bunx commitlint --edit {1}

test(translation): Fix findByText ambiguity for 'Providers' heading
  src/components/preferences/panes/TranslationPane.translation.test.tsx
Due: biome-check, type-check

fix(test): Update migration idempotency test to expect 5 migrations
  src-tauri/src/database/migrations.test.rs
Due: none

feat(preferences): Add Advanced pane enhancements and Reader settings pane
  docs/plans/2026-03-02-reader-settings-pane-design.md
  docs/plans/2026-03-02-reader-settings-pane-implementation.md
  src-tauri/src/bindings.rs
  src-tauri/src/commands/data.rs
  src-tauri/src/commands/preferences.rs
  src-tauri/src/types.rs
  src/components/preferences/PreferencesDialog.tsx
  src/components/preferences/panes/AdvancedPane.tsx
  src/components/preferences/panes/ReaderPane.tsx
  src/lib/bindings.ts
  src/locales/en/messages.po
  src/locales/en/messages.ts
  src/locales/ja/messages.po
  src/locales/ja/messages.ts
  src/locales/ko/messages.po
  src/locales/ko/messages.ts
  src/locales/zh-CN/messages.po
  src/locales/zh-CN/messages.ts
  src/locales/zh-TW/messages.po
  src/locales/zh-TW/messages.ts
  src/services/preferences.ts
  src/store/ui-store.ts
Due: biome-check, type-check

feat(preferences): Add Advanced pane enhancements and Reader settings pane (#17)
  docs/plans/2026-03-02-reader-settings-pane-design.md
  docs/plans/2026-03-02-reader-settings-pane-implementation.md
  src-tauri/src/bindings.rs
  src-tauri/src/commands/data.rs
  src-tauri/src/commands/preferences.rs
  src-tauri/src/types.rs
  src/components/preferences/PreferencesDialog.tsx
  src/components/preferences/panes/AdvancedPane.tsx
  src/components/preferences/panes/ReaderPane.tsx
  src/lib/bindings.ts
  src/locales/en/messages.po
  src/locales/en/messages.ts
  src/locales/ja/messages.po
  src/locales/ja/messages.ts
  src/locales/ko/messages.po
  src/locales/ko/messages.ts
  src/locales/zh-CN/messages.po
  src/locales/zh-CN/messages.ts
  src/locales/zh-TW/messages.po
  src/locales/zh-TW/messages.ts
  src/services/preferences.ts
  src/store/ui-store.ts
Due: biome-check, type-check

fix(podcast): Preserve settings and completion persistence
  src/components/podcast/PodcastPlayer.tsx
  src/hooks/use-audio-engine.test.ts
  src/hooks/use-audio-engine.ts
  src/hooks/use-player-command-listener.ts
  src/services/miniflux/podcast.test.ts
  src/services/miniflux/podcast.ts
  src/test/setup.ts
Due: biome-check, type-check

fix(tauri): Fix macOS crash on quit and wire up close behavior
  src-tauri/src/bindings.rs
  src-tauri/src/commands/tray.rs
  src-tauri/src/lib.rs
  src/lib/bindings.ts
  src/lib/commands/window-commands.ts
Due: biome-check, type-check

fix(tauri): Fix macOS crash on quit and wire up close behavior (#18)
  src-tauri/src/bindings.rs
  src-tauri/src/commands/tray.rs
  src-tauri/src/lib.rs
  src/lib/bindings.ts
  src/lib/commands/window-commands.ts
Due: biome-check, type-check

fix(podcast): Preserve settings and completion persistence (#19)
  src/components/podcast/PodcastPlayer.tsx
  src/hooks/use-audio-engine.test.ts
  src/hooks/use-audio-engine.ts
  src/hooks/use-player-command-listener.ts
  src/services/miniflux/podcast.test.ts
  src/services/miniflux/podcast.ts
  src/test/setup.ts
Due: biome-check, type-check

refactor(titlebar): Optimize sync indicator and add time format preference
  src-tauri/capabilities/default.json
  src-tauri/src/bindings.rs
  src-tauri/src/commands/data.rs
  src-tauri/src/types.rs
  src/components/miniflux/EntryList.tsx
  src/components/preferences/panes/AdvancedPane.tsx
  src/components/preferences/panes/AppearancePane.tsx
  src/components/sync/SyncProgressPopover.tsx
  src/components/titlebar/WindowTitleBar.tsx
  src/hooks/use-sync-indicator.ts
  src/lib/bindings.ts
  src/lib/miniflux-utils.ts
  src/services/preferences.ts
  src/styles/animation.css
Due: biome-check, type-check

refactor(titlebar): Optimize sync indicator and add time format preference (#20)
  src-tauri/capabilities/default.json
  src-tauri/src/bindings.rs
  src-tauri/src/commands/data.rs
  src-tauri/src/types.rs
  src/components/miniflux/EntryList.tsx
  src/components/preferences/panes/AdvancedPane.tsx
  src/components/preferences/panes/AppearancePane.tsx
  src/components/sync/SyncProgressPopover.tsx
  src/components/titlebar/WindowTitleBar.tsx
  src/hooks/use-sync-indicator.ts
  src/lib/bindings.ts
  src/lib/miniflux-utils.ts
  src/services/preferences.ts
  src/styles/animation.css
Due: biome-check, type-check

ci(release): Configure stable 1.0.0 release automation
  .github/workflows/ci.yml
  .github/workflows/release-please.yml
  .github/workflows/release.yml
  .release-please.json
  docs/developer/release-workflow.md
Due: biome-check

ci(release): Configure stable 1.0.0 release automation (#21)
  .github/workflows/ci.yml
  .github/workflows/release-please.yml
  .github/workflows/release.yml
  .release-please.json
  docs/developer/release-workflow.md
Due: biome-check

fix(release): Stabilize Windows bundling for CI
  .github/workflows/release.yml
  src-tauri/src/bindings.rs
  src-tauri/src/commands/tray.rs
Due: none

fix(ci): Remove unsupported release-please inputs
  .github/workflows/release-please.yml
Due: none

fix(ci): Add Apple certificate preflight and prep script
  .github/workflows/release.yml
  docs/developer/ci-cd-setup.md
  scripts/prepare-apple-certificate.sh
Due: biome-check

fix(ci): Stabilize release workflows for Windows and Apple signing (#23)
  .github/workflows/release-please.yml
  .github/workflows/release.yml
  docs/developer/ci-cd-setup.md
  scripts/prepare-apple-certificate.sh
  src-tauri/src/bindings.rs
  src-tauri/src/commands/tray.rs
Due: biome-check

fix(ci): Make WiX setup idempotent on Windows runners
  .github/workflows/release.yml
Due: none

fix(ci): Enforce non-component release tags in config
  .release-please.json
Due: biome-check

fix(ci): Remove component-style tags and harden WiX setup (#25)
  .github/workflows/release.yml
  .release-please.json
Due: biome-check

fix(ci): Format tauri config for Biome check
  src-tauri/tauri.conf.json
Due: biome-check

fix(ci): Format tauri config for Biome check (#27)
  src-tauri/tauri.conf.json
Due: biome-check

fix(ci): Use heredoc syntax for signing secrets to prevent shell escaping issues
  .github/workflows/release.yml
Due: none

fix(test): Use dispatchEvent for scroll test to fix CI flakiness
  src/components/miniflux/ReaderSelectionToolbar.test.tsx
Due: biome-check, type-check

fix(ci): Use heredoc syntax for signing secrets (#28)
  .github/workflows/release.yml
  src/components/miniflux/ReaderSelectionToolbar.test.tsx
Due: biome-check, type-check

fix(test): Use dispatchEvent for mousedown test to fix CI flakiness
  src/components/miniflux/ReaderSelectionToolbar.test.tsx
Due: biome-check, type-check

fix(test): Use dispatchEvent for mousedown test to fix CI flakiness (#29)
  src/components/miniflux/ReaderSelectionToolbar.test.tsx
Due: biome-check, type-check

fix(ci): Fix release workflow YAML syntax for signing step
  .github/workflows/release.yml
Due: none

fix(ci): Fix release workflow YAML syntax for signing step (#30)
  .github/workflows/release.yml
Due: none

chore: Add actionlint pre-commit hook for GitHub Actions workflows
  lefthook.yml
Due: none

chore: Add actionlint pre-commit hook for GitHub Actions workflows (#31)
  lefthook.yml
Due: none

fix: Fix tray icon, updater endpoint, and window visibility bugs
  .gitignore
  scripts/prepare-apple-certificate.sh
  src-tauri/src/commands/tray.rs
  src-tauri/src/lib.rs
  src-tauri/tauri.conf.json
Due: biome-check

fix(sync): Reset progress counters in startSync action
  src/store/sync-store.ts
Due: biome-check, type-check

fix(test): Fix test failures from account data isolation changes
  src/components/miniflux/MinifluxLayout.tsx
  src/components/miniflux/UserNav.test.tsx
  src/test/setup.ts
Due: biome-check, type-check

fix(test): Update migration idempotency test to expect 7 migrations
  src-tauri/src/database/migrations.test.rs
Due: none

fix(ci): Fix release-please component mismatch blocking releases
  .release-please.json
Due: biome-check

fix(ci): Simplify release-please config for single-package repo
  .release-please.json
Due: biome-check

fix(ci): Fix release-please component mismatch and migration test (#33)
  .release-please.json
Due: biome-check
