Repository sinhong2011/minikyu: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, type-check

biome-check:
  run: bun run biome check --write {staged_files}
  stage_fixed: true

type-check:
  run: bunx tsc --noEmit

fix(ci): Fix lint errors and release tag prefix
  .release-please.json
  src-tauri/tauri.conf.json
  src/components/miniflux/EntryReading.tsx
  src/components/preferences/panes/ApiTokenPane.tsx
Due: biome-check, type-check

fix(ci): Fix lint errors and release tag prefix (#35)
  .release-please.json
  src-tauri/tauri.conf.json
  src/components/miniflux/EntryReading.tsx
  src/components/preferences/panes/ApiTokenPane.tsx
Due: biome-check, type-check

chore: Clean up release history and reset version to 1.2.0
  .release-please-manifest.json
  CHANGELOG.md
  package.json
  src-tauri/tauri.conf.json
Due: biome-check

chore: Clean up release history and reset version to 1.2.0 (#37)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
  src-tauri/tauri.conf.json
Due: biome-check

chore: Release 1.3.0
  .release-please-manifest.json
  CHANGELOG.md
  package.json
  src-tauri/tauri.conf.json
Due: biome-check

chore: Release 1.3.0 (#38)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
  src-tauri/tauri.conf.json
Due: biome-check

chore(license): Add third-party notices and align MIT metadata
  README.md
  THIRD_PARTY_NOTICES.md
  src-tauri/Cargo.toml
Due: biome-check

fix(i18n): Wrap hardcoded strings with Lingui and auto-compile catalogs on build
  lefthook.yml
  package.json
  src/components/ErrorBoundary.tsx
  src/components/miniflux/ImageViewer.tsx
  src/components/preferences/PreferencesDialog.tsx
  src/components/titlebar/MacOSWindowControls.tsx
  src/components/titlebar/WindowsWindowControls.tsx
  src/components/ui/breadcrumb.tsx
  src/components/ui/dialog.tsx
  src/components/ui/sheet.tsx
  src/components/ui/sidebar.tsx
  src/components/ui/spinner.tsx
  src/components/ui/tag-input.tsx
  src/locales/en/messages.po
  src/locales/en/messages.ts
  src/locales/ja/messages.po
  src/locales/ja/messages.ts
  src/locales/ko/messages.po
  src/locales/ko/messages.ts
  src/locales/zh-CN/messages.po
  src/locales/zh-CN/messages.ts
  src/locales/zh-TW/messages.po
  src/locales/zh-TW/messages.ts
Due: biome-check, type-check

chore: Sync Cargo.toml version, description, and authors
  src-tauri/Cargo.toml
Due: none

chore: Update Cargo.toml author to GitHub username
  src-tauri/Cargo.toml
Due: none

fix(ci): Exclude generated Lingui catalogs from biome checks
  biome.json
Due: biome-check

fix(ci): Add i18n compile step before biome lint in CI
  .github/workflows/ci.yml
Due: none

fix(i18n): Translation audit and auto-compile catalogs (#39)
  .github/workflows/ci.yml
  README.md
  THIRD_PARTY_NOTICES.md
  biome.json
  lefthook.yml
  package.json
  src-tauri/Cargo.toml
  src/components/ErrorBoundary.tsx
  src/components/miniflux/ImageViewer.tsx
  src/components/preferences/PreferencesDialog.tsx
  src/components/titlebar/MacOSWindowControls.tsx
  src/components/titlebar/WindowsWindowControls.tsx
  src/components/ui/breadcrumb.tsx
  src/components/ui/dialog.tsx
  src/components/ui/sheet.tsx
  src/components/ui/sidebar.tsx
  src/components/ui/spinner.tsx
  src/components/ui/tag-input.tsx
  src/locales/en/messages.po
  src/locales/en/messages.ts
  src/locales/ja/messages.po
  src/locales/ja/messages.ts
  src/locales/ko/messages.po
  src/locales/ko/messages.ts
  src/locales/zh-CN/messages.po
  src/locales/zh-CN/messages.ts
  src/locales/zh-TW/messages.po
  src/locales/zh-TW/messages.ts
Due: biome-check, type-check

fix(ci): Fix biome lint errors and add full lint to pre-push
  lefthook.yml
  src-tauri/tauri.conf.json
  src/store/player-store.ts
Due: biome-check, type-check

fix(ci): Fix biome lint errors and add full lint to pre-push (#41)
  lefthook.yml
  src-tauri/tauri.conf.json
  src/store/player-store.ts
Due: biome-check, type-check

fix(ci): Exclude tauri.conf.json from biome formatting
  biome.json
  src-tauri/tauri.conf.json
Due: biome-check

fix(ci): Exclude tauri.conf.json from biome formatting
  biome.json
Due: biome-check

fix(ci): Exclude tauri.conf.json from biome formatting (#45)
  biome.json
Due: biome-check

fix(test): Wrap mousedown dispatch in act() to fix CI flakiness
  src/components/miniflux/ReaderSelectionToolbar.test.tsx
Due: biome-check, type-check

fix(test): Wrap mousedown dispatch in act() to fix CI flakiness (#46)
  src/components/miniflux/ReaderSelectionToolbar.test.tsx
Due: biome-check, type-check

feat(updater): Add Zustand updater store with lifecycle state machine
  src/store/updater-store.test.ts
  src/store/updater-store.ts
Due: biome-check, type-check

feat(updater): Add updater service wrapping Tauri plugin lifecycle
  src/lib/updater.test.ts
  src/lib/updater.ts
Due: biome-check, type-check

feat(updater): Add useAutoUpdater hook with toast progress and restart actions
  src/hooks/use-auto-updater.ts
Due: biome-check, type-check

refactor(updater): Replace confirm/alert updater with useAutoUpdater hook
  src/App.tsx
Due: biome-check, type-check

refactor(updater): Update menu and command palette to use new updater service
  src/lib/commands/help-commands.ts
  src/lib/menu.ts
Due: biome-check, type-check

feat(updater): Enhance AboutPane with download progress and restart button
  src/components/preferences/panes/AboutPane.tsx
Due: biome-check, type-check

refactor(updater): Remove old updates module replaced by updater service
  src/lib/updates.test.ts
  src/lib/updates.ts
Due: biome-check, type-check

fix(updater): Remove double spinner in AboutPane check button
  src/components/preferences/panes/AboutPane.tsx
Due: biome-check, type-check

chore(updater): Add mock update server script for local testing
  scripts/mock-update-server.ts
Due: biome-check, type-check

fix(updater): Move status icon after button and remove spinner states
  src/components/preferences/panes/AboutPane.tsx
  src/locales/en/messages.po
  src/locales/en/messages.ts
  src/locales/ja/messages.po
  src/locales/ja/messages.ts
  src/locales/ko/messages.po
  src/locales/ko/messages.ts
  src/locales/zh-CN/messages.po
  src/locales/zh-CN/messages.ts
  src/locales/zh-TW/messages.po
  src/locales/zh-TW/messages.ts
Due: biome-check, type-check

chore(i18n): Update message catalog line references
  src/locales/en/messages.po
  src/locales/ja/messages.po
  src/locales/ko/messages.po
  src/locales/zh-CN/messages.po
  src/locales/zh-TW/messages.po
Due: none

feat(i18n): Complete translations for all 4 target languages
  src/locales/en/messages.po
  src/locales/en/messages.ts
  src/locales/ja/messages.po
  src/locales/ja/messages.ts
  src/locales/ko/messages.po
  src/locales/ko/messages.ts
  src/locales/zh-CN/messages.po
  src/locales/zh-CN/messages.ts
  src/locales/zh-TW/messages.po
  src/locales/zh-TW/messages.ts
Due: biome-check, type-check

feat: Add auto-updater system and complete i18n translations (#47)
  scripts/mock-update-server.ts
  src/App.tsx
  src/components/preferences/panes/AboutPane.tsx
  src/hooks/use-auto-updater.ts
  src/lib/commands/help-commands.ts
  src/lib/menu.ts
  src/lib/updater.test.ts
  src/lib/updater.ts
  src/lib/updates.test.ts
  src/lib/updates.ts
  src/locales/en/messages.po
  src/locales/en/messages.ts
  src/locales/ja/messages.po
  src/locales/ja/messages.ts
  src/locales/ko/messages.po
  src/locales/ko/messages.ts
  src/locales/zh-CN/messages.po
  src/locales/zh-CN/messages.ts
  src/locales/zh-TW/messages.po
  src/locales/zh-TW/messages.ts
  src/store/updater-store.test.ts
  src/store/updater-store.ts
Due: biome-check, type-check

fix(ci): Fix release-please component mismatch preventing auto-tagging
  .release-please.json
Due: biome-check

fix(ci): Suppress biome naming convention for API field names
  scripts/mock-update-server.ts
  src/components/preferences/panes/AppearancePane.tsx
Due: biome-check, type-check

fix(ci): Fix release-please auto-tagging and biome lint (#48)
  .release-please.json
  scripts/mock-update-server.ts
  src/components/preferences/panes/AppearancePane.tsx
Due: biome-check, type-check

fix(tauri): Fix delete account command failing silently after confirm
  src-tauri/src/commands/accounts.rs
  src/components/miniflux/UserNav.tsx
Due: biome-check, type-check

fix(downloads): Add CancellationToken to actually stop cancelled downloads
  src-tauri/Cargo.toml
  src-tauri/src/commands/downloads.rs
Due: none

feat(downloads): Add delete_download and clear_downloads backend commands
  src-tauri/src/bindings.rs
  src-tauri/src/commands/downloads.rs
  src/components/downloads/DownloadManagerDialog.tsx
  src/lib/bindings.ts
Due: biome-check, type-check

fix(downloads): Store and reuse original media_type on retry instead of inferring
  src-tauri/src/commands/downloads.rs
  src-tauri/src/database/migrations.rs
  src-tauri/src/miniflux/types.rs
  src/components/downloads/DownloadManagerDialog.tsx
Due: biome-check, type-check

Path conditions:
  biome-check: any of: *.{js,jsx,ts,tsx,json,css,md}
  type-check: any of: *.{ts,tsx}
