Repository sinhong2011/minikyu: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, type-check

biome-check:
  run: bun run biome check --write {staged_files}
  stage_fixed: true

type-check:
  run: bunx tsc --noEmit

chore: release main (#86)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
  src-tauri/tauri.conf.json
Due: biome-check

fix: Fix in-app browser positioning and auto-close on entry change
  src/components/layout/MainWindowContent.tsx
  src/hooks/use-in-app-browser.ts
Due: biome-check, type-check

refactor: Split AddFeedDialog into tab panel sub-components
  src/components/miniflux/AddFeedDialog.tsx
  src/components/miniflux/SearchSourceDialog.tsx
  src/components/miniflux/add-feed-dialog/FeedDetailsTabPanel.tsx
  src/components/miniflux/add-feed-dialog/SearchSourcesTabPanel.tsx
  src/lib/bindings.ts
  src/locales/en/messages.po
  src/locales/ja/messages.po
  src/locales/ko/messages.po
  src/locales/zh-CN/messages.po
  src/locales/zh-TW/messages.po
Due: biome-check, type-check

fix: In-app browser positioning and AddFeedDialog refactor (#88)
  src/components/layout/MainWindowContent.tsx
  src/components/miniflux/AddFeedDialog.tsx
  src/components/miniflux/SearchSourceDialog.tsx
  src/components/miniflux/add-feed-dialog/FeedDetailsTabPanel.tsx
  src/components/miniflux/add-feed-dialog/SearchSourcesTabPanel.tsx
  src/hooks/use-in-app-browser.ts
  src/lib/bindings.ts
  src/locales/en/messages.po
  src/locales/ja/messages.po
  src/locales/ko/messages.po
  src/locales/zh-CN/messages.po
  src/locales/zh-TW/messages.po
Due: biome-check, type-check

chore: release main
  .release-please-manifest.json
  CHANGELOG.md
  package.json
  src-tauri/tauri.conf.json
Due: biome-check

test: Wrap scroll dispatchEvent in act() to fix flaky ReaderSelectionToolbar test
  src/components/miniflux/ReaderSelectionToolbar.test.tsx
Due: biome-check, type-check

test: Wrap scroll dispatchEvent in act() to fix flaky ReaderSelectionToolbar test (#90)
  src/components/miniflux/ReaderSelectionToolbar.test.tsx
Due: biome-check, type-check

chore: release main (#89)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
  src-tauri/tauri.conf.json
Due: biome-check

fix: Resolve offline account switching and updater install prompt
  src-tauri/src/cloud_sync/keyring.rs
  src-tauri/src/cloud_sync/s3.test.rs
  src-tauri/src/cloud_sync/webdav.rs
  src-tauri/src/commands/accounts.rs
  src-tauri/src/commands/cloud_sync.rs
  src-tauri/src/commands/downloads.rs
  src-tauri/src/commands/miniflux.rs
  src-tauri/src/commands/miniflux.test.rs
  src-tauri/src/commands/preferences.rs
  src-tauri/src/commands/summarize.rs
  src-tauri/src/database/migrations.rs
  src-tauri/src/database/migrations.test.rs
  src-tauri/src/miniflux/client.rs
  src/components/miniflux/MinifluxLayout.tsx
  src/components/miniflux/UserNav.tsx
  src/components/preferences/PreferencesDialog.tsx
  src/components/preferences/panes/CategoriesPane.tsx
  src/hooks/use-auto-updater.test.ts
  src/hooks/use-auto-updater.ts
  src/lib/account-reset.test.ts
  src/lib/account-reset.ts
  src/locales/en/messages.po
  src/locales/en/messages.ts
  src/locales/ja/messages.po
  src/locales/ja/messages.ts
  src/locales/ko/messages.po
  src/locales/ko/messages.ts
  src/locales/zh-CN/messages.po
  src/locales/zh-CN/messages.ts
  src/locales/zh-TW/messages.po
  src/locales/zh-TW/messages.ts
  src/services/miniflux/feeds.ts
Due: biome-check, type-check

chore(i18n): Refresh catalog references
  src/locales/en/messages.po
  src/locales/ja/messages.po
  src/locales/ko/messages.po
  src/locales/zh-CN/messages.po
  src/locales/zh-TW/messages.po
Due: none

fix: Refresh feed 204 response, alert dialog z-index and style, toast close button
  src-tauri/src/miniflux/client.rs
  src/components/ui/alert-dialog.tsx
  src/components/ui/sonner.tsx
  src/locales/ja/messages.po
  src/locales/ja/messages.ts
  src/locales/ko/messages.po
  src/locales/ko/messages.ts
  src/locales/zh-CN/messages.po
  src/locales/zh-CN/messages.ts
  src/locales/zh-TW/messages.po
  src/locales/zh-TW/messages.ts
Due: biome-check, type-check

fix: Improve offline account switching and updater ready notifications (#91)
  src-tauri/src/cloud_sync/keyring.rs
  src-tauri/src/cloud_sync/s3.test.rs
  src-tauri/src/cloud_sync/webdav.rs
  src-tauri/src/commands/accounts.rs
  src-tauri/src/commands/cloud_sync.rs
  src-tauri/src/commands/downloads.rs
  src-tauri/src/commands/miniflux.rs
  src-tauri/src/commands/miniflux.test.rs
  src-tauri/src/commands/preferences.rs
  src-tauri/src/commands/summarize.rs
  src-tauri/src/database/migrations.rs
  src-tauri/src/database/migrations.test.rs
  src-tauri/src/miniflux/client.rs
  src/components/miniflux/MinifluxLayout.tsx
  src/components/miniflux/UserNav.tsx
  src/components/preferences/PreferencesDialog.tsx
  src/components/preferences/panes/CategoriesPane.tsx
  src/components/ui/alert-dialog.tsx
  src/components/ui/sonner.tsx
  src/hooks/use-auto-updater.test.ts
  src/hooks/use-auto-updater.ts
  src/lib/account-reset.test.ts
  src/lib/account-reset.ts
  src/locales/en/messages.po
  src/locales/en/messages.ts
  src/locales/ja/messages.po
  src/locales/ja/messages.ts
  src/locales/ko/messages.po
  src/locales/ko/messages.ts
  src/locales/zh-CN/messages.po
  src/locales/zh-CN/messages.ts
  src/locales/zh-TW/messages.po
  src/locales/zh-TW/messages.ts
  src/services/miniflux/feeds.ts
Due: biome-check, type-check

chore: release main (#92)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
  src-tauri/tauri.conf.json
Due: biome-check

fix: Reduce next article button size and optimistic feed refresh update
  src/components/miniflux/EntryReading.tsx
  src/services/miniflux/feeds.ts
Due: biome-check, type-check

chore: Recompile i18n message catalogs
  src/locales/en/messages.po
  src/locales/ja/messages.po
  src/locales/ko/messages.po
  src/locales/zh-CN/messages.po
  src/locales/zh-TW/messages.po
Due: none

fix: Reduce next article button size and optimistic feed refresh update (#93)
  src/components/miniflux/EntryReading.tsx
  src/locales/en/messages.po
  src/locales/ja/messages.po
  src/locales/ko/messages.po
  src/locales/zh-CN/messages.po
  src/locales/zh-TW/messages.po
  src/services/miniflux/feeds.ts
Due: biome-check, type-check

chore: release main (#94)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
  src-tauri/tauri.conf.json
Due: biome-check

fix: Fix open-in-browser and restore in-app browser option
  src-tauri/capabilities/default.json
  src/components/miniflux/EntryReading.tsx
  src/components/miniflux/EntryReadingHeader.tsx
  src/components/miniflux/ReaderSelectionToolbar.tsx
  src/locales/en/messages.po
  src/locales/en/messages.ts
  src/locales/ja/messages.po
  src/locales/ja/messages.ts
  src/locales/ko/messages.po
  src/locales/ko/messages.ts
  src/locales/zh-CN/messages.po
  src/locales/zh-CN/messages.ts
  src/locales/zh-TW/messages.po
  src/locales/zh-TW/messages.ts
Due: biome-check, type-check

chore: Update i18n source line references
  src/locales/en/messages.po
  src/locales/ja/messages.po
  src/locales/ko/messages.po
  src/locales/zh-CN/messages.po
  src/locales/zh-TW/messages.po
Due: none

fix: Add _ to useEffect dependency arrays to satisfy biome lint
  src/components/miniflux/EntryReading.tsx
Due: biome-check, type-check

test: Update ReaderSelectionToolbar test to mock openUrl instead of window.open
  src/components/miniflux/ReaderSelectionToolbar.test.tsx
Due: biome-check, type-check

test: Add bubbles and increase timeout for flaky scroll dismiss test
  src/components/miniflux/ReaderSelectionToolbar.test.tsx
Due: biome-check, type-check

fix: Fix open-in-browser and restore in-app browser option (#95)
  src-tauri/capabilities/default.json
  src/components/miniflux/EntryReading.tsx
  src/components/miniflux/EntryReadingHeader.tsx
  src/components/miniflux/ReaderSelectionToolbar.test.tsx
  src/components/miniflux/ReaderSelectionToolbar.tsx
  src/locales/en/messages.po
  src/locales/en/messages.ts
  src/locales/ja/messages.po
  src/locales/ja/messages.ts
  src/locales/ko/messages.po
  src/locales/ko/messages.ts
  src/locales/zh-CN/messages.po
  src/locales/zh-CN/messages.ts
  src/locales/zh-TW/messages.po
  src/locales/zh-TW/messages.ts
Due: biome-check, type-check

chore: release main (#96)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
  src-tauri/tauri.conf.json
Due: biome-check

fix: Improve reader text selection, toolbar tooltips, and node menu actions
  src/components/miniflux/EntryReading.tsx
  src/components/miniflux/EntryReadingHeader.tsx
  src/components/miniflux/ImmersiveTranslationLayer.tsx
  src/components/miniflux/ReaderSelectionToolbar.tsx
  src/components/miniflux/SafeHtml.tsx
  src/components/titlebar/WindowTitleBar.tsx
  src/components/ui/context-menu.tsx
  src/locales/en/messages.po
  src/locales/en/messages.ts
  src/locales/ja/messages.po
  src/locales/ja/messages.ts
  src/locales/ko/messages.po
  src/locales/ko/messages.ts
  src/locales/zh-CN/messages.po
  src/locales/zh-CN/messages.ts
  src/locales/zh-TW/messages.po
  src/locales/zh-TW/messages.ts
Due: biome-check, type-check

chore: Update i18n source line references after EntryReading changes
  src/locales/en/messages.po
  src/locales/ja/messages.po
  src/locales/ko/messages.po
  src/locales/zh-CN/messages.po
  src/locales/zh-TW/messages.po
Due: none

fix: Improve reader text selection, toolbar tooltips, and node menu actions (#97)
  src/components/miniflux/EntryReading.tsx
  src/components/miniflux/EntryReadingHeader.tsx
  src/components/miniflux/ImmersiveTranslationLayer.tsx
  src/components/miniflux/ReaderSelectionToolbar.tsx
  src/components/miniflux/SafeHtml.tsx
  src/components/titlebar/WindowTitleBar.tsx
  src/components/ui/context-menu.tsx
  src/locales/en/messages.po
  src/locales/en/messages.ts
  src/locales/ja/messages.po
  src/locales/ja/messages.ts
  src/locales/ko/messages.po
  src/locales/ko/messages.ts
  src/locales/zh-CN/messages.po
  src/locales/zh-CN/messages.ts
  src/locales/zh-TW/messages.po
  src/locales/zh-TW/messages.ts
Due: biome-check, type-check

chore: release main (#98)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
  src-tauri/tauri.conf.json
Due: biome-check

fix: Fix UTF-8 string slicing panics and add crash diagnostics
  src-tauri/src/commands/summarize.rs
  src-tauri/src/lib.rs
  src-tauri/src/utils/mod.rs
  src-tauri/src/utils/str_utils.rs
Due: none

fix: Fix UTF-8 string slicing panics and add crash diagnostics (#99)
  src-tauri/src/commands/summarize.rs
  src-tauri/src/lib.rs
  src-tauri/src/utils/mod.rs
  src-tauri/src/utils/str_utils.rs
Due: none

chore: release main (#100)
  .release-please-manifest.json
  CHANGELOG.md
  package.json
  src-tauri/tauri.conf.json
Due: biome-check

fix: Write panic crash log directly to file bypassing async logger
  src-tauri/src/lib.rs
Due: none

fix: Write panic crash log directly to file bypassing async logger (#101)
  src-tauri/src/lib.rs
Due: none

Path conditions:
  biome-check: any of: *.{js,jsx,ts,tsx,json,css,md}
  type-check: any of: *.{ts,tsx}
